In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('filtered_ShubmanGill.csv')

In [3]:
numeric_columns=['inns_number','ball','outs','over','noball','wide','year','runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control','bowler_dismissed?','dots']
for i in numeric_columns:
    dataset[i].astype(int)
    
dataset['ball_id'].astype(float)

0       13.05
1       15.04
2       15.02
3       14.05
4       15.05
        ...
2429    15.02
2430    15.03
2431    15.04
2432    14.01
2433    13.06
Name: ball_id, Length: 2434, dtype: float64

In [4]:
dataset['date']=pd.to_datetime(dataset['date'])

In [5]:
dataset=dataset.sort_values(by=['date','ball_id'])

In [6]:
dataset.groupby(['date','over','ball']).cumsum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19124\1501107121.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['date','over','ball']).cumsum()

,Unnamed: 0,inns_number,ball_id,outs,noball,wide,year,runs,balls,control,inns,1s,2s,3s,4s,5s,6s,bowler_dismissed?,dots
0,772,1.0,13.05,0,0.0,0.0,2018.0,0.0,1.0,1.0,1,0,0,0,0,0,0,0,1
6,773,1.0,13.06,0,0.0,0.0,2018.0,0.0,1.0,0.0,1,0,0,0,0,0,0,0,1
3,514,1.0,14.05,0,0.0,0.0,2018.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
2,165,1.0,15.02,0,0.0,0.0,2018.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
1,166,1.0,15.04,0,0.0,0.0,2018.0,0.0,1.0,1.0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,2414,1.0,16.03,0,0.0,0.0,2024.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
2383,2415,1.0,16.05,0,0.0,0.0,2024.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
2424,2396,1.0,17.01,0,0.0,0.0,2024.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
2425,2397,1.0,17.04,0,0.0,0.0,2024.0,1.0,1.0,1.0,1,1,0,0,0,0,0,0,0
2426,2398,1.0,17.06,1,0.0,0.0,2024.0,0.0,1.0,0.0,1,0,0,0,0,0,0,1,1

In [7]:
numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()
nonnumeric_cols=dataset[['date','team','inns_number','opposition','ground','dismissal']]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19124\3703232610.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()

In [8]:
cumulativedataset=pd.concat([nonnumeric_cols,numeric_cols],axis=1)

In [9]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,control
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,1.0,0,1,0,0,0,0,0,0,1.0
6,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0.0,2.0,0,2,0,0,0,0,0,0,1.0
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1.0,3.0,0,2,1,0,0,0,0,0,2.0
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,4.0,0,2,2,0,0,0,0,0,3.0
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2.0,5.0,0,3,2,0,0,0,0,0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2382,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,101.0,51.0,0,10,23,3,0,9,0,6,42.0
2383,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,102.0,52.0,0,10,24,3,0,9,0,6,43.0
2424,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,103.0,53.0,0,10,25,3,0,9,0,6,44.0
2425,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,104.0,54.0,0,10,26,3,0,9,0,6,45.0
2426,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,104.0,55.0,1,11,26,3,0,9,0,6,45.0

In [10]:
cumulativedataset['SR']=round(cumulativedataset['runs']*100/cumulativedataset['balls'],2)
cumulativedataset['Control%']=round(cumulativedataset['control']*100/cumulativedataset['balls'],2)
cumulativedataset.drop(['control'],axis=1,inplace=True)

In [11]:
transformdataset=cumulativedataset[['date','team','inns_number','opposition','ground','runs','balls','outs']]

In [12]:
transformdataset.set_index(['balls'],inplace=True)
transformdataset

,date,team,inns_number,opposition,ground,runs,outs
balls,,,,,,,
1.0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",0.0,0
2.0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",0.0,0
3.0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",1.0,0
4.0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2.0,0
5.0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2.0,0
...,...,...,...,...,...,...,...
51.0,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",101.0,0
52.0,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",102.0,0
53.0,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",103.0,0
54.0,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",104.0,0
55.0,2024-05-10,Gujarat Titans,1.0,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",104.0,1

In [13]:
transformdataset=transformdataset.T
transformdataset

balls,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,1.0,...,46.0,47.0,48.0,49.0,50.0,51.0,52.0,53.0,54.0,55.0
date,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-16 00:00:00,...,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00
team,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,...,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans
inns_number,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
opposition,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Delhi Capitals,...,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings
ground,"Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata",...,"Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad"
runs,0.0,0.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,4.0,...,95.0,96.0,96.0,96.0,100.0,101.0,102.0,103.0,104.0,104.0
outs,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
grouped_df = cumulativedataset.groupby(['date','team','inns_number','opposition','ground','balls'])['runs'].sum().reset_index()
pivot_df = grouped_df.pivot(index='date', columns='balls', values='runs')
pivot_df = pivot_df.reindex(sorted(pivot_df.columns), axis=1)

In [15]:
pivot_df

balls,0.0,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,53.0,54.0,55.0,56.0,57.0,58.0,59.0,60.0,61.0,62.0
date,,,,,,,,,,,,,,,,,,,,,
2018-04-14,NaN,0.0,0.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-16,NaN,4.0,5.0,6.0,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-21,NaN,4.0,12.0,6.0,10.0,11.0,12.0,13.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-27,NaN,0.0,0.0,0.0,4.0,5.0,6.0,7.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-29,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-21,NaN,0.0,0.0,1.0,1.0,2.0,3.0,3.0,7.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-24,NaN,1.0,2.0,6.0,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-28,NaN,0.0,1.0,1.0,5.0,7.0,7.0,8.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-04,NaN,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-10,NaN,4.0,4.0,10.0,22.0,11.0,12.0,16.0,20.0,21.0,...,103.0,104.0,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
grouped_df.head(56
            )

,date,team,inns_number,opposition,ground,balls,runs
0,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",1.0,0.0
1,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2.0,0.0
2,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",3.0,1.0
3,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",4.0,2.0
4,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",5.0,2.0
5,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",6.0,3.0
6,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",7.0,3.0
7,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",8.0,3.0
8,2018-04-14,Kolkata Knight Riders,1.0,Sunrisers Hyderabad,"Eden Gardens, Kolkata",9.0,3.0
9,2018-04-16,Kolkata Knight Riders,1.0,Delhi Capitals,"Eden Gardens, Kolkata",1.0,4.0
10,2018-04-16,Kolkata Knight Riders,1.0,Delhi Capitals,"Eden Gardens, Kolkata",2.0,5.0
11,2018-04-16,Kolkata Knight Riders,1.0,Delhi Capitals,"Eden Gardens, Kolkata",3.0,6.0
12,2018-04-16,Kolkata Knight Riders,1.0,Delhi Capitals,"Eden Gardens, Kolkata",4.0,6.0
13,2018-04-16,Kolkata Knight Riders,1.0,Delhi Capitals,"Eden Gardens, Kolkata",5.0,6.0
14,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",1.0,4.0
15,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",2.0,12.0
16,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",3.0,6.0
17,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",4.0,10.0
18,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",5.0,11.0
19,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",6.0,12.0
20,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",7.0,13.0
21,2018-04-21,Kolkata Knight Riders,1.0,Punjab Kings,"Eden Gardens, Kolkata",8.0,14.0
22,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",1.0,0.0
23,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",2.0,0.0
24,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",3.0,0.0
25,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",4.0,4.0
26,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",5.0,5.0
27,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",6.0,6.0
28,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",7.0,7.0
29,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",8.0,7.0
30,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",9.0,8.0
31,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",10.0,8.0
32,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",11.0,10.0
33,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",12.0,16.0
34,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",13.0,17.0
35,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",14.0,18.0
36,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",15.0,19.0
37,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",16.0,23.0
38,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",17.0,24.0
39,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",18.0,25.0
40,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",19.0,25.0
41,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",20.0,26.0
42,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",21.0,27.0
43,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",22.0,27.0
44,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",23.0,28.0
45,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",24.0,32.0
46,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",25.0,33.0
47,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",26.0,35.0
48,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",27.0,36.0
49,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",28.0,37.0
50,2018-04-27,Kolkata Knight Riders,2.0,Delhi Capitals,"Feroz Shah Kotla, Delhi",29.0,74.0
51,2018-04-29,Kolkata Knight Riders,2.0,Royal Challengers Bangalore,"M Chinnaswamy Stadium, Bengaluru",1.0,1.0
52,2018-04-29,Kolkata Knight Riders,2.0,Royal Challengers Bangalore,"M Chinnaswamy Stadium, Bengaluru",2.0,5.0
53,2018-05-03,Kolkata Knight Riders,2.0,Chennai Super Kings,"Eden Gardens, Kolkata",1.0,0.0
54,2018-05-03,Kolkata Knight Riders,2.0,Chennai Super Kings,"Eden Gardens, Kolkata",2.0,4.0
55,2018-05-03,Kolkata Knight Riders,2.0,Chennai Super Kings,"Eden Gardens, Kolkata",3.0,4.0