In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('filtered_ShubmanGill.csv')

In [3]:
df

,Unnamed: 0,inns_number,bat,team,bowl,opposition,ball,ball_id,outs,dismissal,...,control,inns,1s,2s,3s,4s,5s,6s,bowler_dismissed?,dots
0,772,1.0,Shubman Gill,Kolkata Knight Riders,Billy Stanlake,Sunrisers Hyderabad,5.0,13.05,0,NaN,...,1.0,1,0,0,0,0,0,0,0,1
1,166,1.0,Shubman Gill,Kolkata Knight Riders,Rashid Khan,Sunrisers Hyderabad,4.0,15.04,0,NaN,...,1.0,1,0,0,0,0,0,0,0,1
2,165,1.0,Shubman Gill,Kolkata Knight Riders,Rashid Khan,Sunrisers Hyderabad,2.0,15.02,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0
3,514,1.0,Shubman Gill,Kolkata Knight Riders,Siddarth Kaul,Sunrisers Hyderabad,5.0,14.05,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0
4,167,1.0,Shubman Gill,Kolkata Knight Riders,Rashid Khan,Sunrisers Hyderabad,5.0,15.05,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,2402,1.0,Shubman Gill,Gujarat Titans,Shardul Thakur,Chennai Super Kings,2.0,15.02,0,NaN,...,0.0,1,0,0,0,0,0,0,0,1
2430,2403,1.0,Shubman Gill,Gujarat Titans,Shardul Thakur,Chennai Super Kings,3.0,15.03,0,NaN,...,1.0,1,0,1,0,0,0,0,0,0
2431,2404,1.0,Shubman Gill,Gujarat Titans,Shardul Thakur,Chennai Super Kings,4.0,15.04,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0
2432,2391,1.0,Shubman Gill,Gujarat Titans,Tushar Deshpande,Chennai Super Kings,1.0,14.01,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0
2433,2436,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,6.0,13.06,0,NaN,...,1.0,1,1,0,0,0,0,0,0,0

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
df['date']=pd.to_datetime(df['date'])

In [6]:
df.columns

Index(['inns_number', 'bat', 'team', 'bowl', 'opposition', 'ball', 'ball_id',
       'outs', 'dismissal', 'over', 'phase', 'noball', 'wide', 'date', 'year',
       'ground', 'country', 'bat_hand', 'bowl_style', 'bowl_kind',
       'bowl_category', 'runs', 'balls', 'line', 'length', 'shot', 'control',
       'inns', '1s', '2s', '3s', '4s', '5s', '6s', 'bowler_dismissed?',
       'dots'],
      dtype='object')

In [7]:
df=df.sort_values(by=['date','inns_number','ball_id'])

In [8]:
cumulative_df = df.groupby(['bat', 'date', 'team', 'opposition', 'inns_number']).transform('cumsum')
result = pd.concat([df[['bat', 'date', 'team', 'opposition', 'inns_number']], cumulative_df], axis=1)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_23888\356958935.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  cumulative_df = df.groupby(['bat', 'date', 'team', 'opposition', 'inns_number']).transform('cumsum')

In [10]:
result.to_csv('innssae.csv')

In [ ]:
error_mask = result.groupby(['bat', 'date', 'team', 'opposition', 'inns_number']).apply(
    lambda group: group < group.shift(1)
)

# Step 4: Identify rows where the error mask is True
error_rows = result[error_mask.any(axis=1)]

# Step 5: Display the rows with errors
print("Rows with errors:")
print(error_rows)