In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('filtered_SG.csv')

In [3]:
# dataset.drop(columns=['Unnamed: 0'],inplace=True)

In [4]:
dataset['date']=pd.to_datetime(dataset['date'])

In [5]:
dataset=dataset.sort_values(by=['date','ball_id'])

In [6]:
dataset.groupby(['date','over','ball']).cumsum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_21408\1501107121.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['date','over','ball']).cumsum()

,1s,2s,3s,4s,5s,6s,ball_id,balls,bowler_dismissed?,control,dots,Index,inns,inns_number,noball,outs,runs,wide,year
675,0,0,0,0,0,0,13.05,1,0,1,1,0,1,1,0,0,0,0,2018
789,0,0,0,0,0,0,13.06,1,0,0,1,1,1,1,0,0,0,0,2018
2215,1,0,0,0,0,0,14.05,1,0,1,0,2,1,1,0,0,1,0,2018
1761,1,0,0,0,0,0,15.02,1,0,1,0,3,1,1,0,0,1,0,2018
562,0,0,0,0,0,0,15.04,1,0,1,1,4,1,1,0,0,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,1,0,0,0,0,0,16.03,1,0,1,0,2429,1,1,0,0,1,0,2024
2233,1,0,0,0,0,0,16.05,1,0,1,0,2430,1,1,0,0,1,0,2024
1590,1,0,0,0,0,0,17.01,1,0,1,0,2431,1,1,0,0,1,0,2024
2069,1,0,0,0,0,0,17.04,1,0,1,0,2432,1,1,0,0,1,0,2024
802,0,0,0,0,0,0,17.06,1,1,0,1,2433,1,1,0,1,0,0,2024

In [7]:
numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()
nonnumeric_cols=dataset[['date','team','inns_number','opposition','ground','dismissal']]

C:\Users\Vijay\AppData\Local\Temp\ipykernel_21408\3703232610.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  numeric_cols=dataset.groupby(['date'])['runs','balls','outs','dots','1s','2s','3s','4s','5s','6s','control'].cumsum()

In [8]:
cumulativedataset=pd.concat([nonnumeric_cols,numeric_cols],axis=1)

In [9]:
cumulativedataset

,date,team,inns_number,opposition,ground,dismissal,runs,balls,outs,dots,1s,2s,3s,4s,5s,6s,control
675,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0,1,0,1,0,0,0,0,0,0,1
789,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,0,2,0,2,0,0,0,0,0,0,1
2215,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,1,3,0,2,1,0,0,0,0,0,2
1761,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2,4,0,2,2,0,0,0,0,0,3
562,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",NaN,2,5,0,3,2,0,0,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1925,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,101,51,0,10,23,3,0,9,0,6,42
2233,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,102,52,0,10,24,3,0,9,0,6,43
1590,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,103,53,0,10,25,3,0,9,0,6,44
2069,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",NaN,104,54,0,10,26,3,0,9,0,6,45
802,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",caught,104,55,1,11,26,3,0,9,0,6,45

In [10]:
cumulativedataset['SR']=round(cumulativedataset['runs']*100/cumulativedataset['balls'],2)
cumulativedataset['Control%']=round(cumulativedataset['control']*100/cumulativedataset['balls'],2)
cumulativedataset.drop(['control'],axis=1,inplace=True)

In [11]:
transformdataset=cumulativedataset[['date','team','inns_number','opposition','ground','runs','balls','outs']]

In [12]:
transformdataset.set_index(['balls'],inplace=True)
transformdataset

,date,team,inns_number,opposition,ground,runs,outs
balls,,,,,,,
1,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",0,0
2,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",0,0
3,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",1,0
4,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2,0
5,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2,0
...,...,...,...,...,...,...,...
51,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",101,0
52,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",102,0
53,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",103,0
54,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",104,0
55,2024-05-10,Gujarat Titans,1,Chennai Super Kings,"Narendra Modi Stadium, Ahmedabad",104,1

In [13]:
transformdataset=transformdataset.T
transformdataset

balls,1,2,3,4,5,6,7,8,9,1,...,46,47,48,49,50,51,52,53,54,55
date,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-14 00:00:00,2018-04-16 00:00:00,...,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00,2024-05-10 00:00:00
team,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,Kolkata Knight Riders,...,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans,Gujarat Titans
inns_number,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
opposition,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Sunrisers Hyderabad,Delhi Capitals,...,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings
ground,"Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata","Eden Gardens, Kolkata",...,"Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad","Narendra Modi Stadium, Ahmedabad"
runs,0,0,1,2,2,3,3,3,3,4,...,95,96,96,96,100,101,102,103,104,104
outs,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [14]:
grouped_df = cumulativedataset.groupby(['date','team','inns_number','opposition','ground','balls'])['runs'].sum().reset_index()
pivot_df = grouped_df.pivot(index='date', columns='balls', values='runs')
pivot_df = pivot_df.reindex(sorted(pivot_df.columns), axis=1)

In [15]:
pivot_df

balls,0,1,2,3,4,5,6,7,8,9,...,53,54,55,56,57,58,59,60,61,62
date,,,,,,,,,,,,,,,,,,,,,
2018-04-14,NaN,0.0,0.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-16,NaN,4.0,5.0,6.0,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-21,NaN,4.0,12.0,6.0,10.0,11.0,12.0,13.0,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-27,NaN,0.0,0.0,0.0,4.0,5.0,6.0,7.0,7.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-29,NaN,1.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-21,NaN,0.0,0.0,1.0,1.0,2.0,3.0,3.0,7.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-24,NaN,1.0,2.0,6.0,6.0,6.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-28,NaN,0.0,1.0,1.0,5.0,7.0,7.0,8.0,9.0,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-04,NaN,0.0,0.0,0.0,2.0,2.0,2.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-05-10,NaN,4.0,4.0,10.0,22.0,11.0,12.0,16.0,20.0,21.0,...,103.0,104.0,104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
grouped_df.head(56
            )

,date,team,inns_number,opposition,ground,balls,runs
0,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",1,0
1,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",2,0
2,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",3,1
3,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",4,2
4,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",5,2
5,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",6,3
6,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",7,3
7,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",8,3
8,2018-04-14,Kolkata Knight Riders,1,Sunrisers Hyderabad,"Eden Gardens, Kolkata",9,3
9,2018-04-16,Kolkata Knight Riders,1,Delhi Capitals,"Eden Gardens, Kolkata",1,4
10,2018-04-16,Kolkata Knight Riders,1,Delhi Capitals,"Eden Gardens, Kolkata",2,5
11,2018-04-16,Kolkata Knight Riders,1,Delhi Capitals,"Eden Gardens, Kolkata",3,6
12,2018-04-16,Kolkata Knight Riders,1,Delhi Capitals,"Eden Gardens, Kolkata",4,6
13,2018-04-16,Kolkata Knight Riders,1,Delhi Capitals,"Eden Gardens, Kolkata",5,6
14,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",1,4
15,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",2,12
16,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",3,6
17,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",4,10
18,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",5,11
19,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",6,12
20,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",7,13
21,2018-04-21,Kolkata Knight Riders,1,Punjab Kings,"Eden Gardens, Kolkata",8,14
22,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",1,0
23,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",2,0
24,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",3,0
25,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",4,4
26,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",5,5
27,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",6,6
28,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",7,7
29,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",8,7
30,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",9,8
31,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",10,8
32,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",11,10
33,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",12,16
34,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",13,17
35,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",14,18
36,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",15,19
37,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",16,23
38,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",17,24
39,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",18,25
40,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",19,25
41,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",20,26
42,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",21,27
43,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",22,27
44,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",23,28
45,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",24,32
46,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",25,33
47,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",26,35
48,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",27,36
49,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",28,37
50,2018-04-27,Kolkata Knight Riders,2,Delhi Capitals,"Feroz Shah Kotla, Delhi",29,74
51,2018-04-29,Kolkata Knight Riders,2,Royal Challengers Bangalore,"M Chinnaswamy Stadium, Bengaluru",1,1
52,2018-04-29,Kolkata Knight Riders,2,Royal Challengers Bangalore,"M Chinnaswamy Stadium, Bengaluru",2,5
53,2018-05-03,Kolkata Knight Riders,2,Chennai Super Kings,"Eden Gardens, Kolkata",1,0
54,2018-05-03,Kolkata Knight Riders,2,Chennai Super Kings,"Eden Gardens, Kolkata",2,4
55,2018-05-03,Kolkata Knight Riders,2,Chennai Super Kings,"Eden Gardens, Kolkata",3,4