In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
dataset=pd.read_csv('ShubmanGill-IPL.csv')

In [3]:
mapping=defaultdict(set)
for index,row in dataset.iterrows():
    if row['p_bat'] not in mapping:
        mapping[row['bat']].add(row['p_bat'])

In [4]:
mapping

defaultdict(set,
            {'Shubman Gill': {1070173},
             'Andre Russell': {276298},
             'Eoin Morgan': {24598}})

In [5]:
calculate={
    'batruns':'sum',
    'ballfaced':'sum',
    'Dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum',
    'control':'sum',
    'out':'sum',
    'wide':'sum',
    'noball':'sum'
}

In [6]:
dataset.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [7]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,2.01,...,True,202,219,4,OUTSIDE_OFFSTUMP,FULL,PUSH,1.0,165,46.47
1,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,4,2.04,...,True,154,224,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,162,43.17
2,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,5,2.05,...,True,221,193,3,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,160,41.01
3,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,6,2.06,...,True,136,209,5,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,159,39.94
4,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,5.01,...,True,324,135,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,166,47.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,2,13.02,...,True,325,49,2,WIDE_OUTSIDE_OFFSTUMP,SHORT,HOOK,1.0,255,96.93
2433,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,3,13.03,...,True,137,357,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,0.0,259,97.41
2434,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,4,13.04,...,True,174,205,5,ON_THE_STUMPS,YORKER,DEFENDED,1.0,257,97.18
2435,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,5,13.05,...,True,23,302,6,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,260,97.52
2436,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,6,13.06,...,True,330,221,3,ON_THE_STUMPS,FULL_TOSS,FLICK,1.0,260,97.52

In [8]:
dataset.drop_duplicates(inplace=True)

In [9]:
dataset.dtypes

p_match             int64
inns                int64
bat                object
p_bat               int64
team_bat           object
bowl               object
p_bowl              int64
team_bowl          object
ball                int64
ball_id           float64
outcome            object
score               int64
out                  bool
dismissal          object
p_out               int64
over                int64
noball              int64
wide                int64
byes                int64
legbyes             int64
cur_bat_runs        int64
cur_bat_bf          int64
cur_bowl_ovr      float64
cur_bowl_wkts       int64
cur_bowl_runs       int64
inns_runs           int64
inns_wkts           int64
inns_balls          int64
inns_runs_rem     float64
inns_balls_rem      int64
inns_rr           float64
inns_rrr          float64
target            float64
max_balls           int64
date               object
year                int64
ground             object
country            object
winner             object
toss               object
competition        object
bat_hand           object
bowl_style         object
bowl_kind          object
batruns             int64
ballfaced           int64
bowlruns            int64
bat_out              bool
wagonX              int64
wagonY              int64
wagonZone           int64
line               object
length             object
shot               object
control           float64
predscore           int64
wprob             float64
dtype: object

In [10]:
dataset['batruns']=dataset['batruns'].apply(lambda x: int(x))
dataset['ballfaced']=dataset['ballfaced'].apply(lambda x: int(x))

In [11]:
dataset.dtypes

p_match             int64
inns                int64
bat                object
p_bat               int64
team_bat           object
bowl               object
p_bowl              int64
team_bowl          object
ball                int64
ball_id           float64
outcome            object
score               int64
out                  bool
dismissal          object
p_out               int64
over                int64
noball              int64
wide                int64
byes                int64
legbyes             int64
cur_bat_runs        int64
cur_bat_bf          int64
cur_bowl_ovr      float64
cur_bowl_wkts       int64
cur_bowl_runs       int64
inns_runs           int64
inns_wkts           int64
inns_balls          int64
inns_runs_rem     float64
inns_balls_rem      int64
inns_rr           float64
inns_rrr          float64
target            float64
max_balls           int64
date               object
year                int64
ground             object
country            object
winner             object
toss               object
competition        object
bat_hand           object
bowl_style         object
bowl_kind          object
batruns             int64
ballfaced           int64
bowlruns            int64
bat_out              bool
wagonX              int64
wagonY              int64
wagonZone           int64
line               object
length             object
shot               object
control           float64
predscore           int64
wprob             float64
dtype: object

In [12]:
modify=dataset[dataset['bat']!='Shubman Gill']
modify

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
455,1136586,2,Andre Russell,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,181,0.21
1021,1216540,2,Eoin Morgan,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29

In [13]:
dataset.loc[modify.index,'bat']='Shubman Gill'
dataset.loc[modify.index,'batruns']=0
dataset.loc[modify.index,'ballfaced']=0
dataset.loc[modify.index,'bat_hand']='RHB'
dataset.loc[modify.index,'control']=0

In [14]:
runoutdis=dataset[dataset['dismissal']=='run out']
runoutdis

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
334,1304094,1,Shubman Gill,1070173,Gujarat Titans,Sandeep Sharma,438362,Punjab Kings,1,2.01,...,True,140,195,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,PUSH,1.0,166,48.86
407,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Mohammed Shami,481896,Punjab Kings,5,17.05,...,True,313,105,2,ON_THE_STUMPS,FULL,SLOG_SHOT,1.0,172,54.94
455,1136586,2,Shubman Gill,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,0.0,181,0.21
671,1254098,1,Shubman Gill,1070173,Kolkata Knight Riders,Deepak Chahar,447261,Chennai Super Kings,6,0.06,...,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,FLICK,0.0,171,53.52
774,1175365,1,Shubman Gill,1070173,Kolkata Knight Riders,Sandeep Lamichhane,960361,Delhi Capitals,1,9.01,...,True,44,130,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,138,19.82
791,1304070,1,Shubman Gill,1070173,Gujarat Titans,Prasidh Krishna,917159,Rajasthan Royals,2,1.02,...,False,135,189,6,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,DAB,1.0,169,54.13
997,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Arshdeep Singh,1125976,Punjab Kings,3,3.03,...,False,216,126,1,OUTSIDE_OFFSTUMP,GOOD_LENGTH,FLICK,1.0,160,41.69
1021,1216540,2,Shubman Gill,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29
1112,1254075,1,Shubman Gill,1070173,Kolkata Knight Riders,Mustafizur Rahman,330902,Rajasthan Royals,4,5.04,...,True,151,197,5,ON_THE_STUMPS,YORKER,PUSH,1.0,153,33.53
1513,1312197,2,Shubman Gill,1070173,Gujarat Titans,Ravichandran Ashwin,26421,Rajasthan Royals,5,7.05,...,True,254,259,4,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,182,42.84
1703,1359497,1,Shubman Gill,1070173,Gujarat Titans,Adam Zampa,379504,Rajasthan Royals,6,4.06,...,False,226,241,4,ON_THE_STUMPS,FULL,STRAIGHT_DRIVE,1.0,159,40.32

In [15]:
for index,row in runoutdis.iterrows():
    if row['p_out']==int(str(mapping[row['bat']])[1:-1]):
        runoutdis.loc[index, 'out'] = True
    else:
        runoutdis.loc[index, 'out'] = False

In [16]:
dataset.update(runoutdis)

In [17]:
reqcols=['inns','bat','team_bat','bowl','team_bowl','ball','ball_id','out','dismissal','over','noball','wide','date','year','ground','country','bat_hand','bowl_style','bowl_kind','batruns','ballfaced','line','length','shot','control']
dataset=dataset[reqcols]

In [18]:
dataset.rename(columns={'inns':'inns_number'},inplace=True)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\316395885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.rename(columns={'inns':'inns_number'},inplace=True)

In [19]:
dataset['inns']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\3667509679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['inns']=1

In [20]:
dataset.groupby(['bat']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\1964033360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat']).sum()

,inns_number,ball,ball_id,over,noball,wide,year,batruns,ballfaced,control,inns
bat,,,,,,,,,,,
Shubman Gill,3673.0,8435.0,16848.35,19198.0,10.0,72.0,4920241.0,3216.0,2370.0,2026.0,2434

In [21]:
dataset.duplicated().sum()

0

In [22]:
dataset.isnull().sum()

inns_number       0
bat               0
team_bat          0
bowl              0
team_bowl         0
ball              0
ball_id           0
out               0
dismissal      2346
over              0
noball            0
wide              0
date              0
year              0
ground            0
country           0
bat_hand          0
bowl_style        0
bowl_kind         0
batruns           0
ballfaced         0
line              7
length            7
shot              2
control          39
inns              0
dtype: int64

In [23]:
dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)

dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\621119697.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

In [24]:
dataset

,inns_number,bat,team_bat,bowl,team_bowl,ball,ball_id,out,dismissal,over,...,length,shot,control,inns,1s,2s,3s,4s,5s,6s
0,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,2.01,False,NaN,3.0,...,FULL,PUSH,1.0,1,1,0,0,0,0,0
1,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,4.0,2.04,False,NaN,3.0,...,FULL,ON_DRIVE,1.0,1,0,0,0,0,0,0
2,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,5.0,2.05,False,NaN,3.0,...,GOOD_LENGTH,FLICK,1.0,1,0,0,0,0,0,0
3,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,6.0,2.06,False,NaN,3.0,...,FULL,COVER_DRIVE,1.0,1,1,0,0,0,0,0
4,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,5.01,False,NaN,6.0,...,GOOD_LENGTH,FLICK,1.0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,2.0,13.02,False,NaN,14.0,...,SHORT,HOOK,1.0,1,0,0,0,0,0,1
2433,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,3.0,13.03,False,NaN,14.0,...,FULL,ON_DRIVE,0.0,1,0,0,0,0,0,1
2434,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,4.0,13.04,False,NaN,14.0,...,YORKER,DEFENDED,1.0,1,0,0,0,0,0,0
2435,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,5.0,13.05,False,NaN,14.0,...,FULL,COVER_DRIVE,1.0,1,0,0,0,0,0,1
2436,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,6.0,13.06,False,NaN,14.0,...,FULL_TOSS,FLICK,1.0,1,1,0,0,0,0,0

In [25]:
dataset['out']=dataset['out'].astype(int)
dataset['dismissal'].value_counts()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\34766640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['out']=dataset['out'].astype(int)

caught               57
run out              11
bowled               10
leg before wicket     6
stumped               4
Name: dismissal, dtype: int64

In [26]:
dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\731582508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

In [27]:
dataset['Dots']=0
dataset.loc[(dataset['batruns']==0) & (dataset['ballfaced'])==1,'Dots']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_10112\3766348723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Dots']=0

In [28]:
dataset.groupby(['bat','year']).sum(calculate)

                     inns_number    ball  ball_id  out    over  noball  wide  \
bat          year
Shubman Gill 2018.0        237.0   525.0  1782.25    6  1920.0     0.0   3.0
             2019.0        327.0   799.0  2003.99    9  2238.0     1.0   4.0
             2020.0        506.0  1249.0  2144.49   13  2515.0     1.0   9.0
             2021.0        700.0  1413.0  2304.13   17  2705.0     1.0  14.0
             2022.0        611.0  1281.0  2426.81   14  2788.0     3.0  14.0
             2023.0        864.0  2106.0  4280.06   15  4841.0     4.0  22.0
             2024.0        428.0  1062.0  1906.62   11  2191.0     0.0   6.0

                     batruns  ballfaced  control  inns   1s  2s  3s  4s  5s  \
bat          year
Shubman Gill 2018.0    203.0      139.0    112.0   143   65  10   0  22   0
             2019.0    296.0      238.0    205.0   242  112  17   2  21   0
             2020.0    440.0      373.0    324.0   383  162  24   0  44   0
             2021.0    478.0      402.0    335.0   415  152  24   2  50   0
             2022.0    483.0      365.0    310.0   374  159  27   0  51   0
             2023.0    890.0      564.0    495.0   582  244  48   4  85   0
             2024.0    426.0      289.0    245.0   295  118  32   2  37   0

                     6s  bowler_dismissed?  Dots
bat          year
Shubman Gill 2018.0   5                  5    37
             2019.0  10                  8    76
             2020.0   9                 11   134
             2021.0  12                 15   162
             2022.0  11                 12   117
             2023.0  33                 15   150
             2024.0  15                 11    85

In [29]:
inningsbyinnings=dataset.groupby(['bat','date','inns_number']).sum(calculate)

In [30]:
notneededcols=['ball','ball_id','over','noball','wide','year']
inningsbyinnings=inningsbyinnings.drop(columns=notneededcols)

In [31]:
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6
             2018-04-16 1.0                          1     2
             2018-04-21 1.0                          0     1
             2018-04-27 2.0                          0     8
             2018-04-29 2.0                          0     0
...                                                ...   ...
             2024-04-21 2.0                          1    12
             2024-04-24 2.0                          1     2
             2024-04-28 1.0                          1     8
             2024-05-04 1.0                          1     5
             2024-05-10 1.0                          1    11

[99 rows x 13 columns]

In [32]:
inningsbyinnings['SR']=inningsbyinnings['batruns']*100/inningsbyinnings['ballfaced']
inningsbyinnings['SR']=inningsbyinnings['SR'].round(2)
inningsbyinnings['Control%']=inningsbyinnings['control']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Control%']=inningsbyinnings['Control%'].round(2)
inningsbyinnings['Dot%']=inningsbyinnings['Dots']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Dot%']=inningsbyinnings['Dot%'].round(2)

In [33]:
# inningsbyinnings.drop(columns=['dot'],axis=1,inplace=True)
# inningsbyinnings.drop(columns=['control'],axis=1,inplace=True)
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 16 columns]

In [34]:
inningsbyinnings.columns

Index(['out', 'batruns', 'ballfaced', 'control', 'inns', '1s', '2s', '3s',
       '4s', '5s', '6s', 'bowler_dismissed?', 'Dots', 'SR', 'Control%',
       'Dot%'],
      dtype='object')

In [35]:
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 16 columns]

In [36]:
dataset.groupby(['bowl_kind','bowl']).aggregate(calculate).sort_values(by='batruns',ascending=False)

                                 batruns  ballfaced  Dots  1s  2s  3s  4s  5s  \
bowl_kind   bowl
spin bowler Ravichandran Ashwin    111.0       69.0    14  35   7   0   8   0
            Ravindra Jadeja         79.0       56.0    14  25   8   0   8   0
pace bowler Kagiso Rabada           78.0       59.0    21  24   4   0   7   0
            Deepak Chahar           78.0       55.0    19  22   2   0  10   0
spin bowler Rahul Chahar            75.0       42.0    10  15   8   0   5   0
...                                  ...        ...   ...  ..  ..  ..  ..  ..
pace bowler Mukesh Choudhary         1.0        2.0     1   1   0   0   0   0
            James Pattinson          1.0        1.0     0   1   0   0   0   0
            Adam Milne               1.0        2.0     1   1   0   0   0   0
            Billy Stanlake           0.0        2.0     2   0   0   0   0   0
            Carlos Brathwaite        0.0        1.0     1   0   0   0   0   0

                                 6s  control  out  wide  noball
bowl_kind   bowl
spin bowler Ravichandran Ashwin   5     64.0    1   3.0     0.0
            Ravindra Jadeja       1     49.0    1   0.0     0.0
pace bowler Kagiso Rabada         3     48.0    2   1.0     0.0
            Deepak Chahar         2     43.0    5   1.0     0.0
spin bowler Rahul Chahar          4     37.0    2   3.0     0.0
...                              ..      ...  ...   ...     ...
pace bowler Mukesh Choudhary      0      1.0    1   0.0     0.0
            James Pattinson       0      1.0    0   0.0     0.0
            Adam Milne            0      2.0    0   0.0     0.0
            Billy Stanlake        0      1.0    0   0.0     0.0
            Carlos Brathwaite     0      0.0    1   0.0     0.0

[148 rows x 13 columns]

In [37]:
cumulativeprogression=dataset.groupby(['year','date']).agg(calculate).reset_index()

In [38]:
cumulativeprogression['inns']=cumulativeprogression.index + 1

In [39]:
cumulativeprogression

,year,date,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,control,out,wide,noball,inns
0,2018.0,2018-04-14,3.0,9.0,6,3,0,0,0,0,0,6.0,1,0.0,0.0,1
1,2018.0,2018-04-16,6.0,5.0,2,2,0,0,1,0,0,3.0,1,0.0,0.0,2
2,2018.0,2018-04-21,14.0,8.0,1,4,1,0,2,0,0,8.0,0,2.0,0.0,3
3,2018.0,2018-04-27,37.0,29.0,8,15,2,0,3,0,1,21.0,1,0.0,0.0,4
4,2018.0,2018-04-29,5.0,2.0,0,1,0,0,1,0,0,2.0,0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2024.0,2024-04-21,35.0,29.0,12,9,3,0,5,0,0,25.0,1,0.0,0.0,95
95,2024.0,2024-04-24,6.0,5.0,2,2,0,0,1,0,0,2.0,1,0.0,0.0,96
96,2024.0,2024-04-28,16.0,19.0,8,8,2,0,1,0,0,17.0,1,0.0,0.0,97
97,2024.0,2024-05-04,2.0,7.0,5,2,0,0,0,0,0,5.0,1,1.0,0.0,98
98,2024.0,2024-05-10,104.0,55.0,11,26,3,0,9,0,6,45.0,1,3.0,0.0,99

In [40]:
desired_columns = ['inns', 'batruns', 'ballfaced', 
                   'Dots', '1s', '2s', '3s', '4s', '5s', '6s', 
                   'control', 'out', 'wide', 'noball','year', 'date']
cumulativeprogression=cumulativeprogression.reindex(columns=desired_columns)

In [41]:
cumulativeprogression=cumulativeprogression.assign(cumulative_runs=cumulativeprogression['batruns'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_balls=cumulativeprogression['ballfaced'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_dots=cumulativeprogression['Dots'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_1s=cumulativeprogression['1s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_2s=cumulativeprogression['2s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_3s=cumulativeprogression['3s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_4s=cumulativeprogression['4s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_5s=cumulativeprogression['5s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_6s=cumulativeprogression['6s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_control=cumulativeprogression['control'].cumsum())

In [42]:
cumulativeprogression

,inns,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,...,cumulative_runs,cumulative_balls,cumulative_dots,cumulative_1s,cumulative_2s,cumulative_3s,cumulative_4s,cumulative_5s,cumulative_6s,cumulative_control
0,1,3.0,9.0,6,3,0,0,0,0,0,...,3.0,9.0,6,3,0,0,0,0,0,6.0
1,2,6.0,5.0,2,2,0,0,1,0,0,...,9.0,14.0,8,5,0,0,1,0,0,9.0
2,3,14.0,8.0,1,4,1,0,2,0,0,...,23.0,22.0,9,9,1,0,3,0,0,17.0
3,4,37.0,29.0,8,15,2,0,3,0,1,...,60.0,51.0,17,24,3,0,6,0,1,38.0
4,5,5.0,2.0,0,1,0,0,1,0,0,...,65.0,53.0,17,25,3,0,7,0,1,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,35.0,29.0,12,9,3,0,5,0,0,...,3088.0,2284.0,735,974,177,10,299,0,89,1957.0
95,96,6.0,5.0,2,2,0,0,1,0,0,...,3094.0,2289.0,737,976,177,10,300,0,89,1959.0
96,97,16.0,19.0,8,8,2,0,1,0,0,...,3110.0,2308.0,745,984,179,10,301,0,89,1976.0
97,98,2.0,7.0,5,2,0,0,0,0,0,...,3112.0,2315.0,750,986,179,10,301,0,89,1981.0
98,99,104.0,55.0,11,26,3,0,9,0,6,...,3216.0,2370.0,761,1012,182,10,310,0,95,2026.0

In [43]:
innings_number=inningsbyinnings.groupby('inns_number').aggregate({
    'out':'sum',
    'batruns':'sum',
    'ballfaced':'sum',
    'control':'sum',
    'Dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum',
    'out':'sum'}
)

In [44]:
innings_number

             out  batruns  ballfaced  control  Dots   1s  2s  3s   4s  5s  6s
inns_number
1.0           45   1641.0     1161.0    989.0   342  517  89   8  154   0  51
2.0           40   1575.0     1209.0   1037.0   419  495  93   2  156   0  44

In [45]:
dataset.columns

Index(['inns_number', 'bat', 'team_bat', 'bowl', 'team_bowl', 'ball',
       'ball_id', 'out', 'dismissal', 'over', 'noball', 'wide', 'date', 'year',
       'ground', 'country', 'bat_hand', 'bowl_style', 'bowl_kind', 'batruns',
       'ballfaced', 'line', 'length', 'shot', 'control', 'inns', '1s', '2s',
       '3s', '4s', '5s', '6s', 'bowler_dismissed?', 'Dots'],
      dtype='object')

In [46]:
dataset.groupby(by=['bowl_style']).aggregate({
    'batruns':'sum',
    'ballfaced':'sum',
    'Dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum',
    'out':'sum',
    'bowler_dismissed?':'sum',
    'control':'sum',
})

,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,out,bowler_dismissed?,control
bowl_style,,,,,,,,,,,,
LB,194.0,121.0,26,58,13,0,17,0,7,7,6,102.0
LBG,316.0,238.0,66,113,25,1,24,0,9,11,10,214.0
LF,41.0,29.0,10,11,1,0,7,0,0,0,0,23.0
LFM,174.0,139.0,51,55,8,1,22,0,2,2,1,114.0
LM,138.0,96.0,26,45,6,1,15,0,3,3,3,86.0
LMF,172.0,138.0,42,64,12,0,18,0,2,2,2,120.0
LWS,20.0,11.0,2,4,3,0,1,0,1,0,0,11.0
OB,258.0,185.0,45,92,21,0,19,0,8,5,3,167.0
OB/LB,22.0,15.0,6,4,1,0,4,0,0,1,1,12.0
RF,398.0,315.0,122,119,17,1,47,0,9,18,17,262.0
RFM,397.0,281.0,95,113,13,2,48,0,10,9,9,227.0
RM,485.0,374.0,135,150,25,3,45,0,16,17,15,312.0
RMF,175.0,116.0,36,47,8,0,19,0,6,6,6,94.0
SLA,392.0,290.0,93,127,27,1,22,0,20,3,3,263.0
SLA/LWS,34.0,22.0,6,10,2,0,2,0,2,1,1,19.0

In [47]:
line_length=dataset.groupby(['bowl_kind','line','length']).sum(calculate).sort_values(by='batruns',ascending=False)

In [48]:
line_length.head(50)

                                                          inns_number    ball  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH        466.0  1089.0
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH                   383.0   892.0
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH                   447.0  1044.0
spin bowler ON_THE_STUMPS         GOOD_LENGTH                   385.0   819.0
pace bowler ON_THE_STUMPS         GOOD_LENGTH                   346.0   747.0
            OUTSIDE_OFFSTUMP      FULL                          228.0   510.0
            ON_THE_STUMPS         FULL                          170.0   394.0
            OUTSIDE_OFFSTUMP      SHORT                         122.0   292.0
spin bowler OUTSIDE_OFFSTUMP      FULL                          158.0   340.0
            ON_THE_STUMPS         FULL                          155.0   305.0
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH        150.0   337.0
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH        140.0   343.0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH         62.0   166.0
pace bowler ON_THE_STUMPS         SHORT                          28.0    90.0
            WIDE_OUTSIDE_OFFSTUMP FULL                           33.0    99.0
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH         30.0    84.0
            ON_THE_STUMPS         FULL_TOSS                      27.0    85.0
            DOWN_LEG              GOOD_LENGTH                    38.0    89.0
                                  SHORT                          14.0    33.0
            OUTSIDE_OFFSTUMP      YORKER                         30.0    64.0
                                  FULL_TOSS                      25.0    62.0
spin bowler DOWN_LEG              FULL                           23.0    43.0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH         26.0    51.0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                           15.0    43.0
                                  GOOD_LENGTH                    13.0    33.0
            ON_THE_STUMPS         FULL_TOSS                       5.0    16.0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                      10.0    26.0
            ON_THE_STUMPS         YORKER                         34.0    79.0
            WIDE_OUTSIDE_OFFSTUMP SHORT                           9.0    19.0
            DOWN_LEG              FULL                           15.0    33.0
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH         10.0    18.0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH                    17.0    37.0
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH          8.0    19.0
            ON_THE_STUMPS         SHORT                           3.0     6.0
            DOWN_LEG              GOOD_LENGTH                    10.0    30.0
                                  SHORT                           1.0     1.0
            OUTSIDE_OFFSTUMP      FULL_TOSS                       2.0     5.0
pace bowler DOWN_LEG              FULL_TOSS                       8.0    30.0
spin bowler OUTSIDE_OFFSTUMP      SHORT                           5.0    14.0
            ON_THE_STUMPS         YORKER                          2.0     3.0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                          4.0    10.0
spin bowler OUTSIDE_OFFSTUMP      YORKER                          2.0     3.0
            WIDE_DOWN_LEG         GOOD_LENGTH                     1.0     1.0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                       2.0     3.0
                                  FULL                            1.0     2.0

                                                          ball_id  out  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  1750.89    9
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             2114.92   10
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             1499.44    9
spin bowler ON_THE_STUMPS         GOOD_LENGTH             1885.19    7
pace bowler ON_THE_STUMPS         GOOD_LENGTH             1083.47    6
            OUTSIDE_OFFSTUMP      FULL                    1026.10    8
            ON_THE_STUMPS         FULL                     706.94    8
            OUTSIDE_OFFSTUMP      SHORT                    646.92    3
spin bowler OUTSIDE_OFFSTUMP      FULL                     857.40    6
            ON_THE_STUMPS         FULL                     765.05    4
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   433.37    3
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   768.43    0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   400.66    0
pace bowler ON_THE_STUMPS         SHORT                    172.90    0
            WIDE_OUTSIDE_OFFSTUMP FULL                     244.99    2
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   143.84    1
            ON_THE_STUMPS         FULL_TOSS                203.85    2
            DOWN_LEG              GOOD_LENGTH              119.89    1
                                  SHORT                     44.33    1
            OUTSIDE_OFFSTUMP      YORKER                   249.64    0
                                  FULL_TOSS                250.62    0
spin bowler DOWN_LEG              FULL                      92.43    0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   122.51    0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                     107.43    1
                                  GOOD_LENGTH               67.33    0
            ON_THE_STUMPS         FULL_TOSS                 32.16    0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                120.26    1
            ON_THE_STUMPS         YORKER                   217.79    1
            WIDE_OUTSIDE_OFFSTUMP SHORT                     67.19    0
            DOWN_LEG              FULL                      66.33    1
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH    49.18    0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH               87.37    1
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH    55.19    0
            ON_THE_STUMPS         SHORT                     16.06    0
            DOWN_LEG              GOOD_LENGTH               52.30    0
                                  SHORT                     12.01    0
            OUTSIDE_OFFSTUMP      FULL_TOSS                 12.05    0
pace bowler DOWN_LEG              FULL_TOSS                103.30    0
spin bowler OUTSIDE_OFFSTUMP      SHORT                     47.14    0
            ON_THE_STUMPS         YORKER                    11.03    0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    27.10    0
spin bowler OUTSIDE_OFFSTUMP      YORKER                    12.03    0
            WIDE_DOWN_LEG         GOOD_LENGTH               13.01    0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                  6.03    0
                                  FULL                      10.02    0

                                                            over  noball  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  2051.0     1.0
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             2360.0     0.0
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             1791.0     0.0
spin bowler ON_THE_STUMPS         GOOD_LENGTH             2121.0     0.0
pace bowler ON_THE_STUMPS         GOOD_LENGTH             1300.0     1.0
            OUTSIDE_OFFSTUMP      FULL                    1177.0     1.0
            ON_THE_STUMPS         FULL                     814.0     0.0
            OUTSIDE_OFFSTUMP      SHORT                    720.0     2.0
spin bowler OUTSIDE_OFFSTUMP      FULL                     953.0     0.0
            ON_THE_STUMPS         FULL                     857.0     0.0
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   530.0     0.0
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   856.0     0.0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   444.0     0.0
pace bowler ON_THE_STUMPS         SHORT                    192.0     0.0
            WIDE_OUTSIDE_OFFSTUMP FULL                     271.0     0.0
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   167.0     0.0
            ON_THE_STUMPS         FULL_TOSS                223.0     0.0
            DOWN_LEG              GOOD_LENGTH              147.0     0.0
                                  SHORT                     53.0     0.0
            OUTSIDE_OFFSTUMP      YORKER                   269.0     0.0
                                  FULL_TOSS                269.0     1.0
spin bowler DOWN_LEG              FULL                     107.0     0.0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   138.0     0.0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                     117.0     0.0
                                  GOOD_LENGTH               76.0     0.0
            ON_THE_STUMPS         FULL_TOSS                 35.0     0.0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                128.0     1.0
            ON_THE_STUMPS         YORKER                   238.0     1.0
            WIDE_OUTSIDE_OFFSTUMP SHORT                     73.0     0.0
            DOWN_LEG              FULL                      76.0     0.0
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH    55.0     1.0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH               98.0     0.0
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH    61.0     0.0
            ON_THE_STUMPS         SHORT                     18.0     0.0
            DOWN_LEG              GOOD_LENGTH               60.0     0.0
                                  SHORT                     13.0     0.0
            OUTSIDE_OFFSTUMP      FULL_TOSS                 13.0     0.0
pace bowler DOWN_LEG              FULL_TOSS                110.0     0.0
spin bowler OUTSIDE_OFFSTUMP      SHORT                     51.0     0.0
            ON_THE_STUMPS         YORKER                    12.0     0.0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    30.0     1.0
spin bowler OUTSIDE_OFFSTUMP      YORKER                    13.0     0.0
            WIDE_DOWN_LEG         GOOD_LENGTH               14.0     0.0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                  7.0     0.0
                                  FULL                      11.0     0.0

                                                          wide      year  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   1.0  628683.0
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH              0.0  513393.0
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH              5.0  610403.0
spin bowler ON_THE_STUMPS         GOOD_LENGTH              1.0  493305.0
pace bowler ON_THE_STUMPS         GOOD_LENGTH              5.0  452756.0
            OUTSIDE_OFFSTUMP      FULL                     1.0  315376.0
            ON_THE_STUMPS         FULL                     1.0  224358.0
            OUTSIDE_OFFSTUMP      SHORT                    1.0  153640.0
spin bowler OUTSIDE_OFFSTUMP      FULL                     0.0  200136.0
            ON_THE_STUMPS         FULL                     1.0  192075.0
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   4.0  202152.0
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   1.0  183981.0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   0.0   90971.0
pace bowler ON_THE_STUMPS         SHORT                    3.0   40425.0
            WIDE_OUTSIDE_OFFSTUMP FULL                     3.0   54580.0
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   5.0   48509.0
            ON_THE_STUMPS         FULL_TOSS                0.0   40431.0
            DOWN_LEG              GOOD_LENGTH             11.0   56601.0
                                  SHORT                    0.0   18189.0
            OUTSIDE_OFFSTUMP      YORKER                   0.0   40431.0
                                  FULL_TOSS                0.0   38419.0
spin bowler DOWN_LEG              FULL                     6.0   30336.0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   3.0   32345.0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                     1.0   20223.0
                                  GOOD_LENGTH              2.0   18204.0
            ON_THE_STUMPS         FULL_TOSS                0.0    6064.0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                0.0   16184.0
            ON_THE_STUMPS         YORKER                   0.0   42436.0
            WIDE_OUTSIDE_OFFSTUMP SHORT                    1.0   12127.0
            DOWN_LEG              FULL                     4.0   20214.0
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   0.0   12132.0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH              2.0   22232.0
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   2.0   12136.0
            ON_THE_STUMPS         SHORT                    0.0    4044.0
            DOWN_LEG              GOOD_LENGTH              2.0   16173.0
                                  SHORT                    0.0    2022.0
            OUTSIDE_OFFSTUMP      FULL_TOSS                0.0    2021.0
pace bowler DOWN_LEG              FULL_TOSS                2.0   14147.0
spin bowler OUTSIDE_OFFSTUMP      SHORT                    0.0    8077.0
            ON_THE_STUMPS         YORKER                   0.0    2021.0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                   1.0    6068.0
spin bowler OUTSIDE_OFFSTUMP      YORKER                   0.0    2023.0
            WIDE_DOWN_LEG         GOOD_LENGTH              1.0    2019.0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                1.0    2021.0
                                  FULL                     1.0    2019.0

                                                          batruns  ballfaced  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH    435.0      310.0
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH               358.0      253.0
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH               306.0      297.0
spin bowler ON_THE_STUMPS         GOOD_LENGTH               290.0      243.0
pace bowler ON_THE_STUMPS         GOOD_LENGTH               246.0      219.0
            OUTSIDE_OFFSTUMP      FULL                      216.0      155.0
            ON_THE_STUMPS         FULL                      162.0      110.0
            OUTSIDE_OFFSTUMP      SHORT                     159.0       75.0
spin bowler OUTSIDE_OFFSTUMP      FULL                      148.0       98.0
            ON_THE_STUMPS         FULL                      136.0       94.0
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH    126.0       96.0
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH    124.0       90.0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH     79.0       45.0
pace bowler ON_THE_STUMPS         SHORT                      39.0       17.0
            WIDE_OUTSIDE_OFFSTUMP FULL                       38.0       24.0
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH     36.0       23.0
            ON_THE_STUMPS         FULL_TOSS                  31.0       20.0
            DOWN_LEG              GOOD_LENGTH                28.0       18.0
                                  SHORT                      27.0        9.0
            OUTSIDE_OFFSTUMP      YORKER                     26.0       20.0
                                  FULL_TOSS                  26.0       19.0
spin bowler DOWN_LEG              FULL                       22.0       13.0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH     16.0       13.0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                       15.0        9.0
                                  GOOD_LENGTH                14.0        7.0
            ON_THE_STUMPS         FULL_TOSS                  12.0        3.0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                  12.0        8.0
            ON_THE_STUMPS         YORKER                     12.0       21.0
            WIDE_OUTSIDE_OFFSTUMP SHORT                      11.0        5.0
            DOWN_LEG              FULL                        9.0        6.0
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH      9.0        6.0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH                 8.0        9.0
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH      7.0        5.0
            ON_THE_STUMPS         SHORT                       5.0        2.0
            DOWN_LEG              GOOD_LENGTH                 5.0        6.0
                                  SHORT                       4.0        1.0
            OUTSIDE_OFFSTUMP      FULL_TOSS                   4.0        1.0
pace bowler DOWN_LEG              FULL_TOSS                   4.0        5.0
spin bowler OUTSIDE_OFFSTUMP      SHORT                       4.0        4.0
            ON_THE_STUMPS         YORKER                      0.0        1.0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                      0.0        2.0
spin bowler OUTSIDE_OFFSTUMP      YORKER                      0.0        1.0
            WIDE_DOWN_LEG         GOOD_LENGTH                 0.0        0.0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                   0.0        0.0
                                  FULL                        0.0        0.0

                                                          control  inns   1s  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH    248.0   311  118
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH               222.0   254  114
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH               248.0   302  114
spin bowler ON_THE_STUMPS         GOOD_LENGTH               219.0   244  118
pace bowler ON_THE_STUMPS         GOOD_LENGTH               199.0   224   99
            OUTSIDE_OFFSTUMP      FULL                      123.0   156   60
            ON_THE_STUMPS         FULL                       93.0   111   50
            OUTSIDE_OFFSTUMP      SHORT                      57.0    76   26
spin bowler OUTSIDE_OFFSTUMP      FULL                       89.0    99   44
            ON_THE_STUMPS         FULL                       83.0    95   44
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH     84.0   100   43
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH     85.0    91   39
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH     40.0    45   20
pace bowler ON_THE_STUMPS         SHORT                      15.0    20    9
            WIDE_OUTSIDE_OFFSTUMP FULL                       17.0    27    8
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH     20.0    24   11
            ON_THE_STUMPS         FULL_TOSS                  18.0    20   11
            DOWN_LEG              GOOD_LENGTH                18.0    28   10
                                  SHORT                       7.0     9    1
            OUTSIDE_OFFSTUMP      YORKER                     17.0    20    8
                                  FULL_TOSS                  17.0    19   11
spin bowler DOWN_LEG              FULL                       11.0    15    6
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH      6.0    16    4
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                        8.0    10    3
                                  GOOD_LENGTH                 6.0     9    4
            ON_THE_STUMPS         FULL_TOSS                   3.0     3    0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                   7.0     8    4
            ON_THE_STUMPS         YORKER                     17.0    21   10
            WIDE_OUTSIDE_OFFSTUMP SHORT                       6.0     6    1
            DOWN_LEG              FULL                        4.0    10    1
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH      4.0     6    3
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH                 6.0    11    2
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH      4.0     6    3

In [49]:
groundwise=dataset.groupby('ground').sum(calculate).sort_values(by='batruns',ascending=False)

In [50]:
groundwise

,inns_number,ball,ball_id,out,over,noball,wide,year,batruns,ballfaced,control,inns,1s,2s,3s,4s,5s,6s,bowler_dismissed?,Dots
ground,,,,,,,,,,,,,,,,,,,,
"Narendra Modi Stadium, Ahmedabad",734.0,2190.0,4529.90,15,5120.0,1.0,18.0,1238123.0,953.0,598.0,517.0,612,265,58,6,83,0,37,15,149
"Eden Gardens, Kolkata",433.0,1035.0,2760.35,11,3047.0,1.0,7.0,599755.0,419.0,290.0,245.0,297,131,16,2,43,0,13,10,85
"Zayed Cricket Stadium, Abu Dhabi",383.0,894.0,1434.94,10,1689.0,2.0,9.0,531311.0,282.0,254.0,226.0,263,98,20,0,30,0,4,8,102
Sharjah Cricket Stadium,389.0,791.0,1528.91,7,1762.0,0.0,8.0,486966.0,280.0,233.0,191.0,241,114,11,2,18,0,11,6,77
Dubai International Cricket Stadium,278.0,573.0,1033.73,6,1209.0,0.0,5.0,365725.0,224.0,176.0,146.0,181,66,12,0,32,0,1,6,65
"Brabourne Stadium, Mumbai",252.0,450.0,857.50,3,979.0,1.0,4.0,254772.0,179.0,123.0,107.0,126,51,12,0,20,0,4,3,36
"Maharashtra Cricket Association Stadium, Pune",100.0,340.0,884.40,2,980.0,1.0,3.0,200178.0,147.0,96.0,85.0,99,55,8,0,13,0,4,2,16
"Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh",198.0,339.0,900.39,1,996.0,0.0,1.0,200077.0,132.0,98.0,92.0,99,48,9,0,12,0,3,1,26
"MA Chidambaram Stadium, Chepauk, Chennai",185.0,391.0,521.91,6,623.0,0.0,4.0,212278.0,128.0,101.0,90.0,105,32,6,0,12,0,6,6,45
"Sawai Mansingh Stadium, Jaipur",182.0,308.0,665.08,2,753.0,1.0,2.0,184094.0,114.0,89.0,80.0,91,36,9,0,12,0,2,2,30
"M Chinnaswamy Stadium, Bengaluru",124.0,244.0,645.44,1,709.0,1.0,5.0,133516.0,111.0,61.0,49.0,66,25,7,0,6,0,8,1,15
"Wankhede Stadium, Mumbai",159.0,327.0,278.27,9,374.0,0.0,5.0,200099.0,74.0,98.0,77.0,99,34,5,0,6,0,1,8,52
"Feroz Shah Kotla, Delhi",65.0,129.0,319.29,2,353.0,0.0,0.0,70635.0,41.0,34.0,25.0,35,17,3,0,3,0,1,0,10
"Dr DY Patil Sports Academy, Mumbai",35.0,118.0,66.18,4,100.0,1.0,1.0,70770.0,36.0,34.0,25.0,35,10,1,0,6,0,0,3,17
"Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur",58.0,106.0,125.06,1,153.0,0.0,0.0,58696.0,35.0,29.0,25.0,29,9,3,0,5,0,0,1,12
"Arun Jaitley Stadium, Delhi",36.0,68.0,27.68,2,45.0,1.0,0.0,36419.0,20.0,18.0,13.0,18,4,0,0,4,0,0,2,10
"Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",44.0,83.0,54.83,2,77.0,0.0,0.0,46550.0,19.0,23.0,20.0,23,7,2,0,2,0,0,2,12
"Holkar Cricket Stadium, Indore",8.0,25.0,148.25,0,156.0,0.0,0.0,16144.0,16.0,8.0,7.0,8,4,0,0,3,0,0,0,1
"M Chinnaswamy Stadium, Bangalore",6.0,11.0,54.11,0,57.0,0.0,0.0,6057.0,3.0,3.0,3.0,3,3,0,0,0,0,0,0,0
"Rajiv Gandhi International Stadium, Uppal, Hyderabad",4.0,13.0,12.13,1,16.0,0.0,0.0,8076.0,3.0,4.0,3.0,4,3,0,0,0,0,0,1,1

In [51]:
forteam=dataset.groupby('team_bat').aggregate(calculate)
forteam

,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,control,out,wide,noball
team_bat,,,,,,,,,,,,,
Gujarat Titans,1799.0,1218.0,352,521,107,6,173,0,59,1050.0,40,42.0,7.0
Kolkata Knight Riders,1417.0,1152.0,409,491,75,4,137,0,36,976.0,45,30.0,3.0