In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv('ShubmanGill-IPL.csv')

In [3]:
dataset.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [4]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,2.01,...,True,202,219,4,OUTSIDE_OFFSTUMP,FULL,PUSH,1.0,165,46.47
1,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,4,2.04,...,True,154,224,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,162,43.17
2,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,5,2.05,...,True,221,193,3,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,160,41.01
3,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,6,2.06,...,True,136,209,5,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,159,39.94
4,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,5.01,...,True,324,135,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,166,47.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,2,13.02,...,True,325,49,2,WIDE_OUTSIDE_OFFSTUMP,SHORT,HOOK,1.0,255,96.93
2433,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,3,13.03,...,True,137,357,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,0.0,259,97.41
2434,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,4,13.04,...,True,174,205,5,ON_THE_STUMPS,YORKER,DEFENDED,1.0,257,97.18
2435,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,5,13.05,...,True,23,302,6,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,260,97.52
2436,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,6,13.06,...,True,330,221,3,ON_THE_STUMPS,FULL_TOSS,FLICK,1.0,260,97.52

In [5]:
dataset.drop_duplicates(inplace=True)

In [6]:
modify=dataset[dataset['bat']!='Shubman Gill']
modify

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
455,1136586,2,Andre Russell,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,181,0.21
1021,1216540,2,Eoin Morgan,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29

In [7]:
# dataset['out'] = dataset.apply(lambda x: 0 if x['dismissal'] == 'run out' and x['p_bat'] != x['p_out'] else 1 if x['dismissal'] == 'run out' else 1, axis=1)

In [8]:
reqcols=['inns','bat','team_bat','bowl','team_bowl','ball','ball_id','out','dismissal','over','noball','wide','date','year','ground','country','bat_hand','bowl_style','bowl_kind','batruns','ballfaced','line','length','shot','control']
dataset=dataset[reqcols]

In [9]:
dataset.loc[modify.index,'bat']='Shubman Gill'
dataset.loc[modify.index,'batruns']=0
dataset.loc[modify.index,'ballfaced']=0
dataset.loc[modify.index,'bat_hand']='RHB'
dataset.loc[modify.index,'control']=0

In [10]:
dataset.groupby(['bat']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\1964033360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat']).sum()

,inns,ball,ball_id,out,over,noball,wide,year,batruns,ballfaced,control
bat,,,,,,,,,,,
Shubman Gill,3673,8435,16848.35,88,19198,10,72,4920241,3216,2370,2026.0

In [11]:
dataset.duplicated().sum()

0

In [12]:
dataset.isnull().sum()

inns             0
bat              0
team_bat         0
bowl             0
team_bowl        0
ball             0
ball_id          0
out              0
dismissal     2346
over             0
noball           0
wide             0
date             0
year             0
ground           0
country          0
bat_hand         0
bowl_style       0
bowl_kind        0
batruns          0
ballfaced        0
line             7
length           7
shot             2
control         39
dtype: int64

In [13]:
dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)

dataset['boundary_4']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
dataset['boundary_6']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['boundary_4']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\362414519.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['boundary_6']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

In [14]:
dataset

,inns,bat,team_bat,bowl,team_bowl,ball,ball_id,out,dismissal,over,...,line,length,shot,control,1s,2s,3s,boundary_4,5s,boundary_6
0,1,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1,2.01,False,NaN,3,...,OUTSIDE_OFFSTUMP,FULL,PUSH,1.0,1,0,0,0,0,0
1,1,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,4,2.04,False,NaN,3,...,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,0,0,0,0,0,0
2,1,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,5,2.05,False,NaN,3,...,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,0,0,0,0,0,0
3,1,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,6,2.06,False,NaN,3,...,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,1,0,0,0,0,0
4,1,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1,5.01,False,NaN,6,...,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,2,13.02,False,NaN,14,...,WIDE_OUTSIDE_OFFSTUMP,SHORT,HOOK,1.0,0,0,0,0,0,1
2433,1,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,3,13.03,False,NaN,14,...,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,0.0,0,0,0,0,0,1
2434,1,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,4,13.04,False,NaN,14,...,ON_THE_STUMPS,YORKER,DEFENDED,1.0,0,0,0,0,0,0
2435,1,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,5,13.05,False,NaN,14,...,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,0,0,0,0,0,1
2436,1,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,6,13.06,False,NaN,14,...,ON_THE_STUMPS,FULL_TOSS,FLICK,1.0,1,0,0,0,0,0

In [15]:
dataset['dismissal'].value_counts()

caught               57
run out              11
bowled               10
leg before wicket     6
stumped               4
Name: dismissal, dtype: int64

In [16]:
dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\731582508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

In [17]:
dataset['dot']=0
dataset.loc[(dataset['batruns']==0) & (dataset['ballfaced'])==1,'dot']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\581498330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['dot']=0

In [18]:
dataset.groupby(['bat','year']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\2925005067.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat','year']).sum()

                   inns  ball  ball_id  out  over  noball  wide  batruns  \
bat          year
Shubman Gill 2018   237   525  1782.25    6  1920       0     3      203
             2019   327   799  2003.99    9  2238       1     4      296
             2020   506  1249  2144.49   14  2515       1     9      440
             2021   700  1413  2304.13   17  2705       1    14      478
             2022   611  1281  2426.81   15  2788       3    14      483
             2023   864  2106  4280.06   16  4841       4    22      890
             2024   428  1062  1906.62   11  2191       0     6      426

                   ballfaced  control   1s  2s  3s  boundary_4  5s  \
bat          year
Shubman Gill 2018        139    112.0   65  10   0          22   0
             2019        238    205.0  112  17   2          21   0
             2020        373    324.0  162  24   0          44   0
             2021        402    335.0  152  24   2          50   0
             2022        365    310.0  159  27   0          51   0
             2023        564    495.0  244  48   4          85   0
             2024        289    245.0  118  32   2          37   0

                   boundary_6  bowler_dismissed?  dot
bat          year
Shubman Gill 2018           5                  5   37
             2019          10                  8   76
             2020           9                 11  134
             2021          12                 15  162
             2022          11                 12  117
             2023          33                 15  150
             2024          15                 11   85

In [19]:
inningsbyinnings=dataset.groupby(['bat','date','inns']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_1228\3051449908.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  inningsbyinnings=dataset.groupby(['bat','date','inns']).sum()

In [20]:
notneededcols=['ball','ball_id','over','noball','wide','year']
inningsbyinnings=inningsbyinnings.drop(columns=notneededcols)

In [21]:
inningsbyinnings

                              out  batruns  ballfaced  control  1s  2s  3s  \
bat          date       inns
Shubman Gill 2018-04-14 1       1        3          9      6.0   3   0   0
             2018-04-16 1       1        6          5      3.0   2   0   0
             2018-04-21 1       0       14          8      8.0   4   1   0
             2018-04-27 2       1       37         29     21.0  15   2   0
             2018-04-29 2       0        5          2      2.0   1   0   0
...                           ...      ...        ...      ...  ..  ..  ..
             2024-04-21 2       1       35         29     25.0   9   3   0
             2024-04-24 2       1        6          5      2.0   2   0   0
             2024-04-28 1       1       16         19     17.0   8   2   0
             2024-05-04 1       1        2          7      5.0   2   0   0
             2024-05-10 1       1      104         55     45.0  26   3   0

                              boundary_4  5s  boundary_6  bowler_dismissed?  \
bat          date       inns
Shubman Gill 2018-04-14 1              0   0           0                  1
             2018-04-16 1              1   0           0                  1
             2018-04-21 1              2   0           0                  0
             2018-04-27 2              3   0           1                  0
             2018-04-29 2              1   0           0                  0
...                                  ...  ..         ...                ...
             2024-04-21 2              5   0           0                  1
             2024-04-24 2              1   0           0                  1
             2024-04-28 1              1   0           0                  1
             2024-05-04 1              0   0           0                  1
             2024-05-10 1              9   0           6                  1

                              dot
bat          date       inns
Shubman Gill 2018-04-14 1       6
             2018-04-16 1       2
             2018-04-21 1       1
             2018-04-27 2       8
             2018-04-29 2       0
...                           ...
             2024-04-21 2      12
             2024-04-24 2       2
             2024-04-28 1       8
             2024-05-04 1       5
             2024-05-10 1      11

[99 rows x 12 columns]

In [22]:
inningsbyinnings['SR']=inningsbyinnings['batruns']*100/inningsbyinnings['ballfaced']
inningsbyinnings['SR']=inningsbyinnings['SR'].round(2)
inningsbyinnings['Control%']=inningsbyinnings['control']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Control%']=inningsbyinnings['Control%'].round(2)
inningsbyinnings['Dot%']=inningsbyinnings['dot']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Dot%']=inningsbyinnings['Dot%'].round(2)

In [23]:
inningsbyinnings.drop(columns=['dot'],axis=1,inplace=True)
inningsbyinnings.drop(columns=['control'],axis=1,inplace=True)
inningsbyinnings

                              out  batruns  ballfaced  1s  2s  3s  boundary_4  \
bat          date       inns
Shubman Gill 2018-04-14 1       1        3          9   3   0   0           0
             2018-04-16 1       1        6          5   2   0   0           1
             2018-04-21 1       0       14          8   4   1   0           2
             2018-04-27 2       1       37         29  15   2   0           3
             2018-04-29 2       0        5          2   1   0   0           1
...                           ...      ...        ...  ..  ..  ..         ...
             2024-04-21 2       1       35         29   9   3   0           5
             2024-04-24 2       1        6          5   2   0   0           1
             2024-04-28 1       1       16         19   8   2   0           1
             2024-05-04 1       1        2          7   2   0   0           0
             2024-05-10 1       1      104         55  26   3   0           9

                              5s  boundary_6  bowler_dismissed?      SR  \
bat          date       inns
Shubman Gill 2018-04-14 1      0           0                  1   33.33
             2018-04-16 1      0           0                  1  120.00
             2018-04-21 1      0           0                  0  175.00
             2018-04-27 2      0           1                  0  127.59
             2018-04-29 2      0           0                  0  250.00
...                           ..         ...                ...     ...
             2024-04-21 2      0           0                  1  120.69
             2024-04-24 2      0           0                  1  120.00
             2024-04-28 1      0           0                  1   84.21
             2024-05-04 1      0           0                  1   28.57
             2024-05-10 1      0           6                  1  189.09

                              Control%   Dot%
bat          date       inns
Shubman Gill 2018-04-14 1        66.67  66.67
             2018-04-16 1        60.00  40.00
             2018-04-21 1       100.00  12.50
             2018-04-27 2        72.41  27.59
             2018-04-29 2       100.00   0.00
...                                ...    ...
             2024-04-21 2        86.21  41.38
             2024-04-24 2        40.00  40.00
             2024-04-28 1        89.47  42.11
             2024-05-04 1        71.43  71.43
             2024-05-10 1        81.82  20.00

[99 rows x 13 columns]

In [24]:
inningsbyinnings[inningsbyinnings['out']>1]

                              out  batruns  ballfaced  1s  2s  3s  boundary_4  \
bat          date       inns
Shubman Gill 2020-10-10 1       2       57         47  17  10   0           5
             2022-04-14 1       2       13         14   5   0   0           2
             2023-04-16 1       2       45         34  16   2   1           4

                              5s  boundary_6  bowler_dismissed?      SR  \
bat          date       inns
Shubman Gill 2020-10-10 1      0           0                  0  121.28
             2022-04-14 1      0           0                  1   92.86
             2023-04-16 1      0           1                  1  132.35

                              Control%   Dot%
bat          date       inns
Shubman Gill 2020-10-10 1        93.62  31.91
             2022-04-14 1        71.43  50.00
             2023-04-16 1        85.29  29.41

In [25]:
inningsbyinnings.groupby('bat').sum()

,out,batruns,ballfaced,1s,2s,3s,boundary_4,5s,boundary_6,bowler_dismissed?,SR,Control%,Dot%
bat,,,,,,,,,,,,,
Shubman Gill,88,3216,2370,1012,182,10,310,0,95,77,11998.62,7912.69,3888.66