In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
dataset=pd.read_csv('ShubmanGill-IPL.csv')

In [3]:
mapping=defaultdict(set)
for index,row in dataset.iterrows():
    if row['p_bat'] not in mapping:
        mapping[row['bat']].add(row['p_bat'])

In [4]:
mapping

defaultdict(set,
            {'Shubman Gill': {1070173},
             'Andre Russell': {276298},
             'Eoin Morgan': {24598}})

In [5]:
int(str(mapping['Shubman Gill'])[1:-1])

1070173

In [6]:
dataset.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [7]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,2.01,...,True,202,219,4,OUTSIDE_OFFSTUMP,FULL,PUSH,1.0,165,46.47
1,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,4,2.04,...,True,154,224,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,162,43.17
2,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,5,2.05,...,True,221,193,3,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,160,41.01
3,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,6,2.06,...,True,136,209,5,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,159,39.94
4,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,5.01,...,True,324,135,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,166,47.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,2,13.02,...,True,325,49,2,WIDE_OUTSIDE_OFFSTUMP,SHORT,HOOK,1.0,255,96.93
2433,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,3,13.03,...,True,137,357,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,0.0,259,97.41
2434,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,4,13.04,...,True,174,205,5,ON_THE_STUMPS,YORKER,DEFENDED,1.0,257,97.18
2435,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,5,13.05,...,True,23,302,6,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,260,97.52
2436,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,6,13.06,...,True,330,221,3,ON_THE_STUMPS,FULL_TOSS,FLICK,1.0,260,97.52

In [8]:
dataset.drop_duplicates(inplace=True)

In [9]:
modify=dataset[dataset['bat']!='Shubman Gill']
modify

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
455,1136586,2,Andre Russell,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,181,0.21
1021,1216540,2,Eoin Morgan,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29

In [10]:
dataset.loc[modify.index,'bat']='Shubman Gill'
dataset.loc[modify.index,'batruns']=0
dataset.loc[modify.index,'ballfaced']=0
dataset.loc[modify.index,'bat_hand']='RHB'
dataset.loc[modify.index,'control']=0

In [11]:
runoutdis=dataset[dataset['dismissal']=='run out']
runoutdis

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
334,1304094,1,Shubman Gill,1070173,Gujarat Titans,Sandeep Sharma,438362,Punjab Kings,1,2.01,...,True,140,195,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,PUSH,1.0,166,48.86
407,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Mohammed Shami,481896,Punjab Kings,5,17.05,...,True,313,105,2,ON_THE_STUMPS,FULL,SLOG_SHOT,1.0,172,54.94
455,1136586,2,Shubman Gill,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,0.0,181,0.21
671,1254098,1,Shubman Gill,1070173,Kolkata Knight Riders,Deepak Chahar,447261,Chennai Super Kings,6,0.06,...,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,FLICK,0.0,171,53.52
774,1175365,1,Shubman Gill,1070173,Kolkata Knight Riders,Sandeep Lamichhane,960361,Delhi Capitals,1,9.01,...,True,44,130,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,138,19.82
791,1304070,1,Shubman Gill,1070173,Gujarat Titans,Prasidh Krishna,917159,Rajasthan Royals,2,1.02,...,False,135,189,6,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,DAB,1.0,169,54.13
997,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Arshdeep Singh,1125976,Punjab Kings,3,3.03,...,False,216,126,1,OUTSIDE_OFFSTUMP,GOOD_LENGTH,FLICK,1.0,160,41.69
1021,1216540,2,Shubman Gill,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29
1112,1254075,1,Shubman Gill,1070173,Kolkata Knight Riders,Mustafizur Rahman,330902,Rajasthan Royals,4,5.04,...,True,151,197,5,ON_THE_STUMPS,YORKER,PUSH,1.0,153,33.53
1513,1312197,2,Shubman Gill,1070173,Gujarat Titans,Ravichandran Ashwin,26421,Rajasthan Royals,5,7.05,...,True,254,259,4,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,182,42.84
1703,1359497,1,Shubman Gill,1070173,Gujarat Titans,Adam Zampa,379504,Rajasthan Royals,6,4.06,...,False,226,241,4,ON_THE_STUMPS,FULL,STRAIGHT_DRIVE,1.0,159,40.32

In [12]:
for index,row in runoutdis.iterrows():
    if row['p_out']==int(str(mapping[row['bat']])[1:-1]):
        runoutdis.loc[index, 'out'] = True
    else:
        runoutdis.loc[index, 'out'] = False

In [13]:
dataset.update(runoutdis)

In [14]:
reqcols=['inns','bat','team_bat','bowl','team_bowl','ball','ball_id','out','dismissal','over','noball','wide','date','year','ground','country','bat_hand','bowl_style','bowl_kind','batruns','ballfaced','line','length','shot','control']
dataset=dataset[reqcols]

In [15]:
dataset.rename(columns={'inns':'inns_number'},inplace=True)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\316395885.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.rename(columns={'inns':'inns_number'},inplace=True)

In [16]:
dataset['inns']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\3667509679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['inns']=1

In [17]:
dataset.groupby(['bat']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\1964033360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat']).sum()

,inns_number,ball,ball_id,over,noball,wide,year,batruns,ballfaced,control,inns
bat,,,,,,,,,,,
Shubman Gill,3673.0,8435.0,16848.35,19198.0,10.0,72.0,4920241.0,3216.0,2370.0,2026.0,2434

In [18]:
dataset.duplicated().sum()

0

In [19]:
dataset.isnull().sum()

inns_number       0
bat               0
team_bat          0
bowl              0
team_bowl         0
ball              0
ball_id           0
out               0
dismissal      2346
over              0
noball            0
wide              0
date              0
year              0
ground            0
country           0
bat_hand          0
bowl_style        0
bowl_kind         0
batruns           0
ballfaced         0
line              7
length            7
shot              2
control          39
inns              0
dtype: int64

In [20]:
dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)

dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['1s']=dataset['batruns'].apply(lambda x: 1 if x==1 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['2s']=dataset['batruns'].apply(lambda x: 1 if x==2 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['3s']=dataset['batruns'].apply(lambda x: 1 if x==3 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['4s']=dataset['batruns'].apply(lambda x: 1 if x==4 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['5s']=dataset['batruns'].apply(lambda x: 1 if x==5 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\621119697.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['6s']=dataset['batruns'].apply(lambda x: 1 if x==6 else 0)

In [21]:
dataset

,inns_number,bat,team_bat,bowl,team_bowl,ball,ball_id,out,dismissal,over,...,length,shot,control,inns,1s,2s,3s,4s,5s,6s
0,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,2.01,False,NaN,3.0,...,FULL,PUSH,1.0,1,1,0,0,0,0,0
1,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,4.0,2.04,False,NaN,3.0,...,FULL,ON_DRIVE,1.0,1,0,0,0,0,0,0
2,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,5.0,2.05,False,NaN,3.0,...,GOOD_LENGTH,FLICK,1.0,1,0,0,0,0,0,0
3,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,6.0,2.06,False,NaN,3.0,...,FULL,COVER_DRIVE,1.0,1,1,0,0,0,0,0
4,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,5.01,False,NaN,6.0,...,GOOD_LENGTH,FLICK,1.0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,2.0,13.02,False,NaN,14.0,...,SHORT,HOOK,1.0,1,0,0,0,0,0,1
2433,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,3.0,13.03,False,NaN,14.0,...,FULL,ON_DRIVE,0.0,1,0,0,0,0,0,1
2434,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,4.0,13.04,False,NaN,14.0,...,YORKER,DEFENDED,1.0,1,0,0,0,0,0,0
2435,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,5.0,13.05,False,NaN,14.0,...,FULL,COVER_DRIVE,1.0,1,0,0,0,0,0,1
2436,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,6.0,13.06,False,NaN,14.0,...,FULL_TOSS,FLICK,1.0,1,1,0,0,0,0,0

In [22]:
dataset['out']=dataset['out'].astype(int)
dataset['dismissal'].value_counts()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\34766640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['out']=dataset['out'].astype(int)

caught               57
run out              11
bowled               10
leg before wicket     6
stumped               4
Name: dismissal, dtype: int64

In [23]:
dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\731582508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

In [24]:
dataset['Dots']=0
dataset.loc[(dataset['batruns']==0) & (dataset['ballfaced'])==1,'Dots']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\3766348723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Dots']=0

In [25]:
dataset.groupby(['bat','year']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\2925005067.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat','year']).sum()

                     inns_number    ball  ball_id  out    over  noball  wide  \
bat          year
Shubman Gill 2018.0        237.0   525.0  1782.25    6  1920.0     0.0   3.0
             2019.0        327.0   799.0  2003.99    9  2238.0     1.0   4.0
             2020.0        506.0  1249.0  2144.49   13  2515.0     1.0   9.0
             2021.0        700.0  1413.0  2304.13   17  2705.0     1.0  14.0
             2022.0        611.0  1281.0  2426.81   14  2788.0     3.0  14.0
             2023.0        864.0  2106.0  4280.06   15  4841.0     4.0  22.0
             2024.0        428.0  1062.0  1906.62   11  2191.0     0.0   6.0

                     batruns  ballfaced  control  inns   1s  2s  3s  4s  5s  \
bat          year
Shubman Gill 2018.0    203.0      139.0    112.0   143   65  10   0  22   0
             2019.0    296.0      238.0    205.0   242  112  17   2  21   0
             2020.0    440.0      373.0    324.0   383  162  24   0  44   0
             2021.0    478.0      402.0    335.0   415  152  24   2  50   0
             2022.0    483.0      365.0    310.0   374  159  27   0  51   0
             2023.0    890.0      564.0    495.0   582  244  48   4  85   0
             2024.0    426.0      289.0    245.0   295  118  32   2  37   0

                     6s  bowler_dismissed?  Dots
bat          year
Shubman Gill 2018.0   5                  5    37
             2019.0  10                  8    76
             2020.0   9                 11   134
             2021.0  12                 15   162
             2022.0  11                 12   117
             2023.0  33                 15   150
             2024.0  15                 11    85

In [26]:
inningsbyinnings=dataset.groupby(['bat','date','inns_number']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\3264223355.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  inningsbyinnings=dataset.groupby(['bat','date','inns_number']).sum()

In [27]:
notneededcols=['ball','ball_id','over','noball','wide','year']
inningsbyinnings=inningsbyinnings.drop(columns=notneededcols)

In [28]:
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6
             2018-04-16 1.0                          1     2
             2018-04-21 1.0                          0     1
             2018-04-27 2.0                          0     8
             2018-04-29 2.0                          0     0
...                                                ...   ...
             2024-04-21 2.0                          1    12
             2024-04-24 2.0                          1     2
             2024-04-28 1.0                          1     8
             2024-05-04 1.0                          1     5
             2024-05-10 1.0                          1    11

[99 rows x 13 columns]

In [29]:
inningsbyinnings['SR']=inningsbyinnings['batruns']*100/inningsbyinnings['ballfaced']
inningsbyinnings['SR']=inningsbyinnings['SR'].round(2)
inningsbyinnings['Control%']=inningsbyinnings['control']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Control%']=inningsbyinnings['Control%'].round(2)
inningsbyinnings['Dot%']=inningsbyinnings['Dots']*100/inningsbyinnings['ballfaced']
inningsbyinnings['Dot%']=inningsbyinnings['Dot%'].round(2)

In [30]:
# inningsbyinnings.drop(columns=['dot'],axis=1,inplace=True)
# inningsbyinnings.drop(columns=['control'],axis=1,inplace=True)
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 16 columns]

In [31]:
inningsbyinnings.columns

Index(['out', 'batruns', 'ballfaced', 'control', 'inns', '1s', '2s', '3s',
       '4s', '5s', '6s', 'bowler_dismissed?', 'Dots', 'SR', 'Control%',
       'Dot%'],
      dtype='object')

In [32]:
inningsbyinnings

                                     out  batruns  ballfaced  control  inns  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1      3.0        9.0      6.0     9
             2018-04-16 1.0            1      6.0        5.0      3.0     5
             2018-04-21 1.0            0     14.0        8.0      8.0    10
             2018-04-27 2.0            1     37.0       29.0     21.0    30
             2018-04-29 2.0            0      5.0        2.0      2.0     2
...                                  ...      ...        ...      ...   ...
             2024-04-21 2.0            1     35.0       29.0     25.0    29
             2024-04-24 2.0            1      6.0        5.0      2.0     5
             2024-04-28 1.0            1     16.0       19.0     17.0    19
             2024-05-04 1.0            1      2.0        7.0      5.0     8
             2024-05-10 1.0            1    104.0       55.0     45.0    58

                                     1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0           3   0   0   0   0   0
             2018-04-16 1.0           2   0   0   1   0   0
             2018-04-21 1.0           4   1   0   2   0   0
             2018-04-27 2.0          15   2   0   3   0   1
             2018-04-29 2.0           1   0   0   1   0   0
...                                  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0           9   3   0   5   0   0
             2024-04-24 2.0           2   0   0   1   0   0
             2024-04-28 1.0           8   2   0   1   0   0
             2024-05-04 1.0           2   0   0   0   0   0
             2024-05-10 1.0          26   3   0   9   0   6

                                     bowler_dismissed?  Dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 16 columns]

In [33]:
dataset.groupby(['bowl_kind','bowl']).sum().sort_values(by='batruns',ascending=False)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_4804\1421772444.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bowl_kind','bowl']).sum().sort_values(by='batruns',ascending=False)

                                 inns_number   ball  ball_id  out   over  \
bowl_kind   bowl
spin bowler Ravichandran Ashwin        133.0  259.0   614.59    1  684.0
            Ravindra Jadeja             99.0  188.0   482.88    1  537.0
pace bowler Kagiso Rabada               99.0  206.0   433.06    2  491.0
            Deepak Chahar               87.0  189.0   183.89    5  238.0
spin bowler Rahul Chahar                73.0  141.0   429.41    2  472.0
...                                      ...    ...      ...  ...    ...
pace bowler Mukesh Choudhary             4.0   11.0     2.11    1    4.0
            James Pattinson              2.0    4.0     1.04    0    2.0
            Adam Milne                   4.0    3.0     2.03    0    4.0
            Billy Stanlake               2.0   11.0    26.11    0   28.0
            Carlos Brathwaite            2.0    3.0    19.03    1   20.0

                                 noball  wide      year  batruns  ballfaced  \
bowl_kind   bowl
spin bowler Ravichandran Ashwin     0.0   3.0  145554.0    111.0       69.0
            Ravindra Jadeja         0.0   0.0  113209.0     79.0       56.0
pace bowler Kagiso Rabada           0.0   1.0  121328.0     78.0       59.0
            Deepak Chahar           0.0   1.0  113204.0     78.0       55.0
spin bowler Rahul Chahar            0.0   3.0   88931.0     75.0       42.0
...                                 ...   ...       ...      ...        ...
pace bowler Mukesh Choudhary        0.0   0.0    4044.0      1.0        2.0
            James Pattinson         0.0   0.0    2020.0      1.0        1.0
            Adam Milne              0.0   0.0    4042.0      1.0        2.0
            Billy Stanlake          0.0   0.0    4036.0      0.0        2.0
            Carlos Brathwaite       0.0   0.0    2018.0      0.0        1.0

                                 control  inns  1s  2s  3s  4s  5s  6s  \
bowl_kind   bowl
spin bowler Ravichandran Ashwin     64.0    72  35   7   0   8   0   5
            Ravindra Jadeja         49.0    56  25   8   0   8   0   1
pace bowler Kagiso Rabada           48.0    60  24   4   0   7   0   3
            Deepak Chahar           43.0    56  22   2   0  10   0   2
spin bowler Rahul Chahar            37.0    44  15   8   0   5   0   4
...                                  ...   ...  ..  ..  ..  ..  ..  ..
pace bowler Mukesh Choudhary         1.0     2   1   0   0   0   0   0
            James Pattinson          1.0     1   1   0   0   0   0   0
            Adam Milne               2.0     2   1   0   0   0   0   0
            Billy Stanlake           1.0     2   0   0   0   0   0   0
            Carlos Brathwaite        0.0     1   0   0   0   0   0   0

                                 bowler_dismissed?  Dots
bowl_kind   bowl
spin bowler Ravichandran Ashwin                  0    14
            Ravindra Jadeja                      1    14
pace bowler Kagiso Rabada                        2    21
            Deepak Chahar                        4    19
spin bowler Rahul Chahar                         2    10
...                                            ...   ...
pace bowler Mukesh Choudhary                     1     1
            James Pattinson                      0     0
            Adam Milne                           0     1
            Billy Stanlake                       0     2
            Carlos Brathwaite                    1     1

[148 rows x 20 columns]

In [34]:
cumulativeprogression=dataset.groupby(['year','date']).agg({
    'batruns':'sum',
    'ballfaced':'sum',
    'Dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum',
    'control':'sum',
    'out':'sum',
    'wide':'sum',
    'noball':'sum'
}).reset_index()

In [36]:
cumulativeprogression['inns']=cumulativeprogression.index + 1

In [37]:
cumulativeprogression

,year,date,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,control,out,wide,noball,inns
0,2018.0,2018-04-14,3.0,9.0,6,3,0,0,0,0,0,6.0,1,0.0,0.0,1
1,2018.0,2018-04-16,6.0,5.0,2,2,0,0,1,0,0,3.0,1,0.0,0.0,2
2,2018.0,2018-04-21,14.0,8.0,1,4,1,0,2,0,0,8.0,0,2.0,0.0,3
3,2018.0,2018-04-27,37.0,29.0,8,15,2,0,3,0,1,21.0,1,0.0,0.0,4
4,2018.0,2018-04-29,5.0,2.0,0,1,0,0,1,0,0,2.0,0,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2024.0,2024-04-21,35.0,29.0,12,9,3,0,5,0,0,25.0,1,0.0,0.0,95
95,2024.0,2024-04-24,6.0,5.0,2,2,0,0,1,0,0,2.0,1,0.0,0.0,96
96,2024.0,2024-04-28,16.0,19.0,8,8,2,0,1,0,0,17.0,1,0.0,0.0,97
97,2024.0,2024-05-04,2.0,7.0,5,2,0,0,0,0,0,5.0,1,1.0,0.0,98
98,2024.0,2024-05-10,104.0,55.0,11,26,3,0,9,0,6,45.0,1,3.0,0.0,99

In [38]:
desired_columns = ['inns', 'batruns', 'ballfaced', 
                   'Dots', '1s', '2s', '3s', '4s', '5s', '6s', 
                   'control', 'out', 'wide', 'noball','year', 'date']
cumulativeprogression=cumulativeprogression.reindex(columns=desired_columns)

In [45]:
cumulativeprogression=cumulativeprogression.assign(cumulative_runs=cumulativeprogression['batruns'].cumsum())

In [46]:
cumulativeprogression

,inns,batruns,ballfaced,Dots,1s,2s,3s,4s,5s,6s,control,out,wide,noball,year,date,cumulative_runs
0,1,3.0,9.0,6,3,0,0,0,0,0,6.0,1,0.0,0.0,2018.0,2018-04-14,3.0
1,2,6.0,5.0,2,2,0,0,1,0,0,3.0,1,0.0,0.0,2018.0,2018-04-16,9.0
2,3,14.0,8.0,1,4,1,0,2,0,0,8.0,0,2.0,0.0,2018.0,2018-04-21,23.0
3,4,37.0,29.0,8,15,2,0,3,0,1,21.0,1,0.0,0.0,2018.0,2018-04-27,60.0
4,5,5.0,2.0,0,1,0,0,1,0,0,2.0,0,0.0,0.0,2018.0,2018-04-29,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,35.0,29.0,12,9,3,0,5,0,0,25.0,1,0.0,0.0,2024.0,2024-04-21,3088.0
95,96,6.0,5.0,2,2,0,0,1,0,0,2.0,1,0.0,0.0,2024.0,2024-04-24,3094.0
96,97,16.0,19.0,8,8,2,0,1,0,0,17.0,1,0.0,0.0,2024.0,2024-04-28,3110.0
97,98,2.0,7.0,5,2,0,0,0,0,0,5.0,1,1.0,0.0,2024.0,2024-05-04,3112.0
98,99,104.0,55.0,11,26,3,0,9,0,6,45.0,1,3.0,0.0,2024.0,2024-05-10,3216.0