In [1]:
import pandas as pd
from collections import defaultdict

In [2]:
dataset=pd.read_csv('ShubmanGill-IPL.csv')

In [3]:
allviews=[]

In [4]:
mapping=defaultdict(set)
for index,row in dataset.iterrows():
    if row['p_bat'] not in mapping:
        mapping[row['bat']].add(row['p_bat'])

In [5]:
mapping

defaultdict(set,
            {'Shubman Gill': {1070173},
             'Andre Russell': {276298},
             'Eoin Morgan': {24598}})

In [6]:
calculate={
    'runs':'sum',
    'balls':'sum',
    'dots':'sum',
    '1s':'sum',
    '2s':'sum',
    '3s':'sum',
    '4s':'sum',
    '5s':'sum',
    '6s':'sum',
    'control':'sum',
    'out':'sum'
}

In [7]:
dataset.drop(columns=['Unnamed: 0'],axis=1,inplace=True)

In [8]:
dataset

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
0,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,2.01,...,True,202,219,4,OUTSIDE_OFFSTUMP,FULL,PUSH,1.0,165,46.47
1,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,4,2.04,...,True,154,224,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,1.0,162,43.17
2,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,5,2.05,...,True,221,193,3,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,160,41.01
3,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,6,2.06,...,True,136,209,5,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,159,39.94
4,1178422,1,Shubman Gill,1070173,Kolkata Knight Riders,Lasith Malinga,49758,Mumbai Indians,1,5.01,...,True,324,135,2,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,166,47.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,2,13.02,...,True,325,49,2,WIDE_OUTSIDE_OFFSTUMP,SHORT,HOOK,1.0,255,96.93
2433,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,3,13.03,...,True,137,357,5,OUTSIDE_OFFSTUMP,FULL,ON_DRIVE,0.0,259,97.41
2434,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,4,13.04,...,True,174,205,5,ON_THE_STUMPS,YORKER,DEFENDED,1.0,257,97.18
2435,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,5,13.05,...,True,23,302,6,OUTSIDE_OFFSTUMP,FULL,COVER_DRIVE,1.0,260,97.52
2436,1426297,1,Shubman Gill,1070173,Gujarat Titans,Daryl Mitchell,381743,Chennai Super Kings,6,13.06,...,True,330,221,3,ON_THE_STUMPS,FULL_TOSS,FLICK,1.0,260,97.52

In [9]:
dataset.drop_duplicates(inplace=True)

In [10]:
dataset.dtypes

p_match             int64
inns                int64
bat                object
p_bat               int64
team_bat           object
bowl               object
p_bowl              int64
team_bowl          object
ball                int64
ball_id           float64
outcome            object
score               int64
out                  bool
dismissal          object
p_out               int64
over                int64
noball              int64
wide                int64
byes                int64
legbyes             int64
cur_bat_runs        int64
cur_bat_bf          int64
cur_bowl_ovr      float64
cur_bowl_wkts       int64
cur_bowl_runs       int64
inns_runs           int64
inns_wkts           int64
inns_balls          int64
inns_runs_rem     float64
inns_balls_rem      int64
inns_rr           float64
inns_rrr          float64
target            float64
max_balls           int64
date               object
year                int64
ground             object
country            object
winner             object
toss               object
competition        object
bat_hand           object
bowl_style         object
bowl_kind          object
batruns             int64
ballfaced           int64
bowlruns            int64
bat_out              bool
wagonX              int64
wagonY              int64
wagonZone           int64
line               object
length             object
shot               object
control           float64
predscore           int64
wprob             float64
dtype: object

In [11]:
dataset['batruns']=dataset['batruns'].apply(lambda x: int(x))
dataset['ballfaced']=dataset['ballfaced'].apply(lambda x: int(x))

In [12]:
dataset.dtypes

p_match             int64
inns                int64
bat                object
p_bat               int64
team_bat           object
bowl               object
p_bowl              int64
team_bowl          object
ball                int64
ball_id           float64
outcome            object
score               int64
out                  bool
dismissal          object
p_out               int64
over                int64
noball              int64
wide                int64
byes                int64
legbyes             int64
cur_bat_runs        int64
cur_bat_bf          int64
cur_bowl_ovr      float64
cur_bowl_wkts       int64
cur_bowl_runs       int64
inns_runs           int64
inns_wkts           int64
inns_balls          int64
inns_runs_rem     float64
inns_balls_rem      int64
inns_rr           float64
inns_rrr          float64
target            float64
max_balls           int64
date               object
year                int64
ground             object
country            object
winner             object
toss               object
competition        object
bat_hand           object
bowl_style         object
bowl_kind          object
batruns             int64
ballfaced           int64
bowlruns            int64
bat_out              bool
wagonX              int64
wagonY              int64
wagonZone           int64
line               object
length             object
shot               object
control           float64
predscore           int64
wprob             float64
dtype: object

In [13]:
modify=dataset[dataset['bat']!='Shubman Gill']
modify

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
455,1136586,2,Andre Russell,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,181,0.21
1021,1216540,2,Eoin Morgan,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29

In [14]:
dataset.loc[modify.index,'bat']='Shubman Gill'
dataset.loc[modify.index,'batruns']=0
dataset.loc[modify.index,'ballfaced']=0
dataset.loc[modify.index,'bat_hand']='RHB'
dataset.loc[modify.index,'control']=0

In [15]:
runoutdis=dataset[dataset['dismissal']=='run out']
runoutdis

,p_match,inns,bat,p_bat,team_bat,bowl,p_bowl,team_bowl,ball,ball_id,...,bat_out,wagonX,wagonY,wagonZone,line,length,shot,control,predscore,wprob
334,1304094,1,Shubman Gill,1070173,Gujarat Titans,Sandeep Sharma,438362,Punjab Kings,1,2.01,...,True,140,195,6,OUTSIDE_OFFSTUMP,GOOD_LENGTH,PUSH,1.0,166,48.86
407,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Mohammed Shami,481896,Punjab Kings,5,17.05,...,True,313,105,2,ON_THE_STUMPS,FULL,SLOG_SHOT,1.0,172,54.94
455,1136586,2,Shubman Gill,276298,Kolkata Knight Riders,Amit Mishra,31107,Delhi Capitals,3,15.03,...,False,123,138,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,0.0,181,0.21
671,1254098,1,Shubman Gill,1070173,Kolkata Knight Riders,Deepak Chahar,447261,Chennai Super Kings,6,0.06,...,True,0,0,0,ON_THE_STUMPS,SHORT_OF_A_GOOD_LENGTH,FLICK,0.0,171,53.52
774,1175365,1,Shubman Gill,1070173,Kolkata Knight Riders,Sandeep Lamichhane,960361,Delhi Capitals,1,9.01,...,True,44,130,7,OUTSIDE_OFFSTUMP,GOOD_LENGTH,CUT_SHOT,1.0,138,19.82
791,1304070,1,Shubman Gill,1070173,Gujarat Titans,Prasidh Krishna,917159,Rajasthan Royals,2,1.02,...,False,135,189,6,OUTSIDE_OFFSTUMP,SHORT_OF_A_GOOD_LENGTH,DAB,1.0,169,54.13
997,1216523,1,Shubman Gill,1070173,Kolkata Knight Riders,Arshdeep Singh,1125976,Punjab Kings,3,3.03,...,False,216,126,1,OUTSIDE_OFFSTUMP,GOOD_LENGTH,FLICK,1.0,160,41.69
1021,1216540,2,Shubman Gill,24598,Kolkata Knight Riders,Washington Sundar,719715,Royal Challengers Bangalore,3,9.03,...,False,240,167,3,OUTSIDE_OFFSTUMP,FULL,DEFENDED,0.0,154,3.29
1112,1254075,1,Shubman Gill,1070173,Kolkata Knight Riders,Mustafizur Rahman,330902,Rajasthan Royals,4,5.04,...,True,151,197,5,ON_THE_STUMPS,YORKER,PUSH,1.0,153,33.53
1513,1312197,2,Shubman Gill,1070173,Gujarat Titans,Ravichandran Ashwin,26421,Rajasthan Royals,5,7.05,...,True,254,259,4,ON_THE_STUMPS,GOOD_LENGTH,FLICK,1.0,182,42.84
1703,1359497,1,Shubman Gill,1070173,Gujarat Titans,Adam Zampa,379504,Rajasthan Royals,6,4.06,...,False,226,241,4,ON_THE_STUMPS,FULL,STRAIGHT_DRIVE,1.0,159,40.32

In [16]:
for index,row in runoutdis.iterrows():
    if row['p_out']==int(str(mapping[row['bat']])[1:-1]):
        runoutdis.loc[index, 'out'] = True
    else:
        runoutdis.loc[index, 'out'] = False

In [17]:
dataset.update(runoutdis)

In [18]:
reqcols=['inns','bat','team_bat','bowl','team_bowl','ball','ball_id','out','dismissal','over','noball','wide','date','year','ground','country','bat_hand','bowl_style','bowl_kind','batruns','ballfaced','line','length','shot','control']
dataset=dataset[reqcols]

In [19]:
dataset.rename(columns={'inns':'inns_number','batruns':'runs','ballfaced':'balls'},inplace=True)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\2912666584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.rename(columns={'inns':'inns_number','batruns':'runs','ballfaced':'balls'},inplace=True)

In [20]:
dataset['inns']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\3667509679.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['inns']=1

In [21]:
dataset.groupby(['bat']).sum()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1964033360.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dataset.groupby(['bat']).sum()

,inns_number,ball,ball_id,over,noball,wide,year,runs,balls,control,inns
bat,,,,,,,,,,,
Shubman Gill,3673.0,8435.0,16848.35,19198.0,10.0,72.0,4920241.0,3216.0,2370.0,2026.0,2434

In [22]:
dataset.duplicated().sum()

0

In [23]:
dataset.isnull().sum()

inns_number       0
bat               0
team_bat          0
bowl              0
team_bowl         0
ball              0
ball_id           0
out               0
dismissal      2346
over              0
noball            0
wide              0
date              0
year              0
ground            0
country           0
bat_hand          0
bowl_style        0
bowl_kind         0
runs              0
balls             0
line              7
length            7
shot              2
control          39
inns              0
dtype: int64

In [24]:
dataset['1s']=dataset['runs'].apply(lambda x: 1 if x==1 else 0)
dataset['2s']=dataset['runs'].apply(lambda x: 1 if x==2 else 0)
dataset['3s']=dataset['runs'].apply(lambda x: 1 if x==3 else 0)
dataset['4s']=dataset['runs'].apply(lambda x: 1 if x==4 else 0)
dataset['5s']=dataset['runs'].apply(lambda x: 1 if x==5 else 0)
dataset['6s']=dataset['runs'].apply(lambda x: 1 if x==6 else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['1s']=dataset['runs'].apply(lambda x: 1 if x==1 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['2s']=dataset['runs'].apply(lambda x: 1 if x==2 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['3s']=dataset['runs'].apply(lambda x: 1 if x==3 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['4s']=dataset['runs'].apply(lambda x: 1 if x==4 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['5s']=dataset['runs'].apply(lambda x: 1 if x==5 else 0)
C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\1259893229.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['6s']=dataset['runs'].apply(lambda x: 1 if x==6 else 0)

In [25]:
dataset

,inns_number,bat,team_bat,bowl,team_bowl,ball,ball_id,out,dismissal,over,...,length,shot,control,inns,1s,2s,3s,4s,5s,6s
0,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,2.01,False,NaN,3.0,...,FULL,PUSH,1.0,1,1,0,0,0,0,0
1,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,4.0,2.04,False,NaN,3.0,...,FULL,ON_DRIVE,1.0,1,0,0,0,0,0,0
2,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,5.0,2.05,False,NaN,3.0,...,GOOD_LENGTH,FLICK,1.0,1,0,0,0,0,0,0
3,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,6.0,2.06,False,NaN,3.0,...,FULL,COVER_DRIVE,1.0,1,1,0,0,0,0,0
4,1.0,Shubman Gill,Kolkata Knight Riders,Lasith Malinga,Mumbai Indians,1.0,5.01,False,NaN,6.0,...,GOOD_LENGTH,FLICK,1.0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2432,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,2.0,13.02,False,NaN,14.0,...,SHORT,HOOK,1.0,1,0,0,0,0,0,1
2433,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,3.0,13.03,False,NaN,14.0,...,FULL,ON_DRIVE,0.0,1,0,0,0,0,0,1
2434,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,4.0,13.04,False,NaN,14.0,...,YORKER,DEFENDED,1.0,1,0,0,0,0,0,0
2435,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,5.0,13.05,False,NaN,14.0,...,FULL,COVER_DRIVE,1.0,1,0,0,0,0,0,1
2436,1.0,Shubman Gill,Gujarat Titans,Daryl Mitchell,Chennai Super Kings,6.0,13.06,False,NaN,14.0,...,FULL_TOSS,FLICK,1.0,1,1,0,0,0,0,0

In [26]:
dataset['out']=dataset['out'].astype(int)
dataset['dismissal'].value_counts()

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\34766640.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['out']=dataset['out'].astype(int)

caught               57
run out              11
bowled               10
leg before wicket     6
stumped               4
Name: dismissal, dtype: int64

In [27]:
def filterview(x):
    x['avg']=x['runs']/x['out']
    x['avg']=round(x['avg'],2)
    x['SR']=x['runs']*100/x['balls']
    x['SR']=round(x['SR'],2)
    x['Dots%']=x['dots']*100/x['balls']
    x['Dots%']=round(x['Dots%'],2)
    x['Control%']=x['control']*100/x['balls']
    x['Control%']=round(x['Control%'],2)
    x.drop('control',axis=1,inplace=True)
    return x

In [28]:
dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\731582508.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['bowler_dismissed?']=dataset['dismissal'].apply(lambda x: 1 if x in ['caught','bowled','leg before wicket','stumped','hit wicket'] else 0)

In [29]:
dataset['dots']=0
dataset.loc[(dataset['runs']==0) & (dataset['balls'])==1,'dots']=1

C:\Users\Vijay\AppData\Local\Temp\ipykernel_19884\4249748624.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['dots']=0

In [30]:
dataset.groupby(['bat','year']).sum(calculate)

                     inns_number    ball  ball_id  out    over  noball  wide  \
bat          year
Shubman Gill 2018.0        237.0   525.0  1782.25    6  1920.0     0.0   3.0
             2019.0        327.0   799.0  2003.99    9  2238.0     1.0   4.0
             2020.0        506.0  1249.0  2144.49   13  2515.0     1.0   9.0
             2021.0        700.0  1413.0  2304.13   17  2705.0     1.0  14.0
             2022.0        611.0  1281.0  2426.81   14  2788.0     3.0  14.0
             2023.0        864.0  2106.0  4280.06   15  4841.0     4.0  22.0
             2024.0        428.0  1062.0  1906.62   11  2191.0     0.0   6.0

                      runs  balls  control  inns   1s  2s  3s  4s  5s  6s  \
bat          year
Shubman Gill 2018.0  203.0  139.0    112.0   143   65  10   0  22   0   5
             2019.0  296.0  238.0    205.0   242  112  17   2  21   0  10
             2020.0  440.0  373.0    324.0   383  162  24   0  44   0   9
             2021.0  478.0  402.0    335.0   415  152  24   2  50   0  12
             2022.0  483.0  365.0    310.0   374  159  27   0  51   0  11
             2023.0  890.0  564.0    495.0   582  244  48   4  85   0  33
             2024.0  426.0  289.0    245.0   295  118  32   2  37   0  15

                     bowler_dismissed?  dots
bat          year
Shubman Gill 2018.0                  5    37
             2019.0                  8    76
             2020.0                 11   134
             2021.0                 15   162
             2022.0                 12   117
             2023.0                 15   150
             2024.0                 11    85

In [31]:
inningsbyinnings=dataset.groupby(['bat','date','inns_number']).sum(calculate)

In [32]:
notneededcols=['ball','ball_id','over','year']
inningsbyinnings=inningsbyinnings.drop(columns=notneededcols)

In [33]:
inningsbyinnings

                                     out  noball  wide   runs  balls  control  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1     0.0   0.0    3.0    9.0      6.0
             2018-04-16 1.0            1     0.0   0.0    6.0    5.0      3.0
             2018-04-21 1.0            0     0.0   2.0   14.0    8.0      8.0
             2018-04-27 2.0            1     0.0   0.0   37.0   29.0     21.0
             2018-04-29 2.0            0     0.0   0.0    5.0    2.0      2.0
...                                  ...     ...   ...    ...    ...      ...
             2024-04-21 2.0            1     0.0   0.0   35.0   29.0     25.0
             2024-04-24 2.0            1     0.0   0.0    6.0    5.0      2.0
             2024-04-28 1.0            1     0.0   0.0   16.0   19.0     17.0
             2024-05-04 1.0            1     0.0   1.0    2.0    7.0      5.0
             2024-05-10 1.0            1     0.0   3.0  104.0   55.0     45.0

                                     inns  1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             9   3   0   0   0   0   0
             2018-04-16 1.0             5   2   0   0   1   0   0
             2018-04-21 1.0            10   4   1   0   2   0   0
             2018-04-27 2.0            30  15   2   0   3   0   1
             2018-04-29 2.0             2   1   0   0   1   0   0
...                                   ...  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0            29   9   3   0   5   0   0
             2024-04-24 2.0             5   2   0   0   1   0   0
             2024-04-28 1.0            19   8   2   0   1   0   0
             2024-05-04 1.0             8   2   0   0   0   0   0
             2024-05-10 1.0            58  26   3   0   9   0   6

                                     bowler_dismissed?  dots
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6
             2018-04-16 1.0                          1     2
             2018-04-21 1.0                          0     1
             2018-04-27 2.0                          0     8
             2018-04-29 2.0                          0     0
...                                                ...   ...
             2024-04-21 2.0                          1    12
             2024-04-24 2.0                          1     2
             2024-04-28 1.0                          1     8
             2024-05-04 1.0                          1     5
             2024-05-10 1.0                          1    11

[99 rows x 15 columns]

In [34]:
inningsbyinnings['SR']=inningsbyinnings['runs']*100/inningsbyinnings['balls']
inningsbyinnings['SR']=inningsbyinnings['SR'].round(2)
inningsbyinnings['Control%']=inningsbyinnings['control']*100/inningsbyinnings['balls']
inningsbyinnings['Control%']=inningsbyinnings['Control%'].round(2)
inningsbyinnings['Dot%']=inningsbyinnings['dots']*100/inningsbyinnings['balls']
inningsbyinnings['Dot%']=inningsbyinnings['Dot%'].round(2)

In [35]:
# inningsbyinnings.drop(columns=['dot'],axis=1,inplace=True)
# inningsbyinnings.drop(columns=['control'],axis=1,inplace=True)
inningsbyinnings

                                     out  noball  wide   runs  balls  control  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1     0.0   0.0    3.0    9.0      6.0
             2018-04-16 1.0            1     0.0   0.0    6.0    5.0      3.0
             2018-04-21 1.0            0     0.0   2.0   14.0    8.0      8.0
             2018-04-27 2.0            1     0.0   0.0   37.0   29.0     21.0
             2018-04-29 2.0            0     0.0   0.0    5.0    2.0      2.0
...                                  ...     ...   ...    ...    ...      ...
             2024-04-21 2.0            1     0.0   0.0   35.0   29.0     25.0
             2024-04-24 2.0            1     0.0   0.0    6.0    5.0      2.0
             2024-04-28 1.0            1     0.0   0.0   16.0   19.0     17.0
             2024-05-04 1.0            1     0.0   1.0    2.0    7.0      5.0
             2024-05-10 1.0            1     0.0   3.0  104.0   55.0     45.0

                                     inns  1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             9   3   0   0   0   0   0
             2018-04-16 1.0             5   2   0   0   1   0   0
             2018-04-21 1.0            10   4   1   0   2   0   0
             2018-04-27 2.0            30  15   2   0   3   0   1
             2018-04-29 2.0             2   1   0   0   1   0   0
...                                   ...  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0            29   9   3   0   5   0   0
             2024-04-24 2.0             5   2   0   0   1   0   0
             2024-04-28 1.0            19   8   2   0   1   0   0
             2024-05-04 1.0             8   2   0   0   0   0   0
             2024-05-10 1.0            58  26   3   0   9   0   6

                                     bowler_dismissed?  dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 18 columns]

In [36]:
inningsbyinnings.columns

Index(['out', 'noball', 'wide', 'runs', 'balls', 'control', 'inns', '1s', '2s',
       '3s', '4s', '5s', '6s', 'bowler_dismissed?', 'dots', 'SR', 'Control%',
       'Dot%'],
      dtype='object')

In [37]:
inningsbyinnings

                                     out  noball  wide   runs  balls  control  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0            1     0.0   0.0    3.0    9.0      6.0
             2018-04-16 1.0            1     0.0   0.0    6.0    5.0      3.0
             2018-04-21 1.0            0     0.0   2.0   14.0    8.0      8.0
             2018-04-27 2.0            1     0.0   0.0   37.0   29.0     21.0
             2018-04-29 2.0            0     0.0   0.0    5.0    2.0      2.0
...                                  ...     ...   ...    ...    ...      ...
             2024-04-21 2.0            1     0.0   0.0   35.0   29.0     25.0
             2024-04-24 2.0            1     0.0   0.0    6.0    5.0      2.0
             2024-04-28 1.0            1     0.0   0.0   16.0   19.0     17.0
             2024-05-04 1.0            1     0.0   1.0    2.0    7.0      5.0
             2024-05-10 1.0            1     0.0   3.0  104.0   55.0     45.0

                                     inns  1s  2s  3s  4s  5s  6s  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             9   3   0   0   0   0   0
             2018-04-16 1.0             5   2   0   0   1   0   0
             2018-04-21 1.0            10   4   1   0   2   0   0
             2018-04-27 2.0            30  15   2   0   3   0   1
             2018-04-29 2.0             2   1   0   0   1   0   0
...                                   ...  ..  ..  ..  ..  ..  ..
             2024-04-21 2.0            29   9   3   0   5   0   0
             2024-04-24 2.0             5   2   0   0   1   0   0
             2024-04-28 1.0            19   8   2   0   1   0   0
             2024-05-04 1.0             8   2   0   0   0   0   0
             2024-05-10 1.0            58  26   3   0   9   0   6

                                     bowler_dismissed?  dots      SR  \
bat          date       inns_number
Shubman Gill 2018-04-14 1.0                          1     6   33.33
             2018-04-16 1.0                          1     2  120.00
             2018-04-21 1.0                          0     1  175.00
             2018-04-27 2.0                          0     8  127.59
             2018-04-29 2.0                          0     0  250.00
...                                                ...   ...     ...
             2024-04-21 2.0                          1    12  120.69
             2024-04-24 2.0                          1     2  120.00
             2024-04-28 1.0                          1     8   84.21
             2024-05-04 1.0                          1     5   28.57
             2024-05-10 1.0                          1    11  189.09

                                     Control%   Dot%
bat          date       inns_number
Shubman Gill 2018-04-14 1.0             66.67  66.67
             2018-04-16 1.0             60.00  40.00
             2018-04-21 1.0            100.00  12.50
             2018-04-27 2.0             72.41  27.59
             2018-04-29 2.0            100.00   0.00
...                                       ...    ...
             2024-04-21 2.0             86.21  41.38
             2024-04-24 2.0             40.00  40.00
             2024-04-28 1.0             89.47  42.11
             2024-05-04 1.0             71.43  71.43
             2024-05-10 1.0             81.82  20.00

[99 rows x 18 columns]

In [38]:
dataset.groupby(['bowl','bowl_kind']).aggregate(calculate).sort_values(by='runs',ascending=False)

,,runs,balls,dots,1s,2s,3s,4s,5s,6s,control,out
bowl,bowl_kind,,,,,,,,,,,
Ravichandran Ashwin,spin bowler,111.0,69.0,14,35,7,0,8,0,5,64.0,1
Ravindra Jadeja,spin bowler,79.0,56.0,14,25,8,0,8,0,1,49.0,1
Kagiso Rabada,pace bowler,78.0,59.0,21,24,4,0,7,0,3,48.0,2
Deepak Chahar,pace bowler,78.0,55.0,19,22,2,0,10,0,2,43.0,5
Rahul Chahar,spin bowler,75.0,42.0,10,15,8,0,5,0,4,37.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...
Arjun Tendulkar,pace bowler,1.0,1.0,0,1,0,0,0,0,0,0.0,0
Tom Curran,pace bowler,1.0,1.0,0,1,0,0,0,0,0,2.0,0
Fabian Allen,spin bowler,1.0,1.0,0,1,0,0,0,0,0,1.0,0
Carlos Brathwaite,pace bowler,0.0,1.0,1,0,0,0,0,0,0,0.0,1
Billy Stanlake,pace bowler,0.0,2.0,2,0,0,0,0,0,0,1.0,0

In [39]:
cumulativeprogression=dataset.groupby(['year','date']).aggregate(calculate).reset_index()

In [40]:
cumulativeprogression['inns']=cumulativeprogression.index + 1

In [41]:
cumulativeprogression=filterview(cumulativeprogression)
cumulativeprogression

,year,date,runs,balls,dots,1s,2s,3s,4s,5s,6s,out,inns,avg,SR,Dots%,Control%
0,2018.0,2018-04-14,3.0,9.0,6,3,0,0,0,0,0,1,1,3.0,33.33,66.67,66.67
1,2018.0,2018-04-16,6.0,5.0,2,2,0,0,1,0,0,1,2,6.0,120.00,40.00,60.00
2,2018.0,2018-04-21,14.0,8.0,1,4,1,0,2,0,0,0,3,inf,175.00,12.50,100.00
3,2018.0,2018-04-27,37.0,29.0,8,15,2,0,3,0,1,1,4,37.0,127.59,27.59,72.41
4,2018.0,2018-04-29,5.0,2.0,0,1,0,0,1,0,0,0,5,inf,250.00,0.00,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,2024.0,2024-04-21,35.0,29.0,12,9,3,0,5,0,0,1,95,35.0,120.69,41.38,86.21
95,2024.0,2024-04-24,6.0,5.0,2,2,0,0,1,0,0,1,96,6.0,120.00,40.00,40.00
96,2024.0,2024-04-28,16.0,19.0,8,8,2,0,1,0,0,1,97,16.0,84.21,42.11,89.47
97,2024.0,2024-05-04,2.0,7.0,5,2,0,0,0,0,0,1,98,2.0,28.57,71.43,71.43
98,2024.0,2024-05-10,104.0,55.0,11,26,3,0,9,0,6,1,99,104.0,189.09,20.00,81.82

In [42]:
desired_columns = ['inns', 'runs', 'balls', 
                   'dots', '1s', '2s', '3s', '4s', '5s', '6s', 
                   'control', 'out', 'wide', 'noball','year', 'date']
correctview=['runs','balls','avg','SR','dots','1s','2s','3s','4s','5s','6s','Dots%','Control%']
cumulativeprogression=cumulativeprogression.reindex(columns=desired_columns)

In [43]:
cumulativeprogression=cumulativeprogression.assign(cumulative_runs=cumulativeprogression['runs'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_balls=cumulativeprogression['balls'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_dots=cumulativeprogression['dots'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_1s=cumulativeprogression['1s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_2s=cumulativeprogression['2s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_3s=cumulativeprogression['3s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_4s=cumulativeprogression['4s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_5s=cumulativeprogression['5s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_6s=cumulativeprogression['6s'].cumsum())
cumulativeprogression=cumulativeprogression.assign(cumulative_control=cumulativeprogression['control'].cumsum())

In [44]:
cumulativeprogression

,inns,runs,balls,dots,1s,2s,3s,4s,5s,6s,...,cumulative_runs,cumulative_balls,cumulative_dots,cumulative_1s,cumulative_2s,cumulative_3s,cumulative_4s,cumulative_5s,cumulative_6s,cumulative_control
0,1,3.0,9.0,6,3,0,0,0,0,0,...,3.0,9.0,6,3,0,0,0,0,0,NaN
1,2,6.0,5.0,2,2,0,0,1,0,0,...,9.0,14.0,8,5,0,0,1,0,0,NaN
2,3,14.0,8.0,1,4,1,0,2,0,0,...,23.0,22.0,9,9,1,0,3,0,0,NaN
3,4,37.0,29.0,8,15,2,0,3,0,1,...,60.0,51.0,17,24,3,0,6,0,1,NaN
4,5,5.0,2.0,0,1,0,0,1,0,0,...,65.0,53.0,17,25,3,0,7,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,35.0,29.0,12,9,3,0,5,0,0,...,3088.0,2284.0,735,974,177,10,299,0,89,NaN
95,96,6.0,5.0,2,2,0,0,1,0,0,...,3094.0,2289.0,737,976,177,10,300,0,89,NaN
96,97,16.0,19.0,8,8,2,0,1,0,0,...,3110.0,2308.0,745,984,179,10,301,0,89,NaN
97,98,2.0,7.0,5,2,0,0,0,0,0,...,3112.0,2315.0,750,986,179,10,301,0,89,NaN
98,99,104.0,55.0,11,26,3,0,9,0,6,...,3216.0,2370.0,761,1012,182,10,310,0,95,NaN

In [45]:
innings_number=inningsbyinnings.groupby('inns_number').aggregate(calculate)
innings_number=filterview(innings_number)

In [46]:
innings_number

,runs,balls,dots,1s,2s,3s,4s,5s,6s,out,avg,SR,Dots%,Control%
inns_number,,,,,,,,,,,,,,
1.0,1641.0,1161.0,342,517,89,8,154,0,51,45,36.47,141.34,29.46,85.19
2.0,1575.0,1209.0,419,495,93,2,156,0,44,40,39.38,130.27,34.66,85.77

In [47]:
dataset.columns

Index(['inns_number', 'bat', 'team_bat', 'bowl', 'team_bowl', 'ball',
       'ball_id', 'out', 'dismissal', 'over', 'noball', 'wide', 'date', 'year',
       'ground', 'country', 'bat_hand', 'bowl_style', 'bowl_kind', 'runs',
       'balls', 'line', 'length', 'shot', 'control', 'inns', '1s', '2s', '3s',
       '4s', '5s', '6s', 'bowler_dismissed?', 'dots'],
      dtype='object')

In [48]:
bowlstyle=dataset.groupby(by=['bowl_style']).aggregate(calculate)
bowlstyle=filterview(bowlstyle)

In [49]:
bowlstyle

,runs,balls,dots,1s,2s,3s,4s,5s,6s,out,avg,SR,Dots%,Control%
bowl_style,,,,,,,,,,,,,,
LB,194.0,121.0,26,58,13,0,17,0,7,7,27.71,160.33,21.49,84.30
LBG,316.0,238.0,66,113,25,1,24,0,9,11,28.73,132.77,27.73,89.92
LF,41.0,29.0,10,11,1,0,7,0,0,0,inf,141.38,34.48,79.31
LFM,174.0,139.0,51,55,8,1,22,0,2,2,87.00,125.18,36.69,82.01
LM,138.0,96.0,26,45,6,1,15,0,3,3,46.00,143.75,27.08,89.58
LMF,172.0,138.0,42,64,12,0,18,0,2,2,86.00,124.64,30.43,86.96
LWS,20.0,11.0,2,4,3,0,1,0,1,0,inf,181.82,18.18,100.00
OB,258.0,185.0,45,92,21,0,19,0,8,5,51.60,139.46,24.32,90.27
OB/LB,22.0,15.0,6,4,1,0,4,0,0,1,22.00,146.67,40.00,80.00
RF,398.0,315.0,122,119,17,1,47,0,9,18,22.11,126.35,38.73,83.17
RFM,397.0,281.0,95,113,13,2,48,0,10,9,44.11,141.28,33.81,80.78
RM,485.0,374.0,135,150,25,3,45,0,16,17,28.53,129.68,36.10,83.42
RMF,175.0,116.0,36,47,8,0,19,0,6,6,29.17,150.86,31.03,81.03
SLA,392.0,290.0,93,127,27,1,22,0,20,3,130.67,135.17,32.07,90.69
SLA/LWS,34.0,22.0,6,10,2,0,2,0,2,1,34.00,154.55,27.27,86.36

In [50]:
line_length=dataset.groupby(['bowl_kind','line','length']).aggregate(calculate).sort_values(by='runs',ascending=False)
line_length=filterview(line_length)

In [51]:
line_length

                                                           runs  balls  dots  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  435.0  310.0   104
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             358.0  253.0    72
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             306.0  297.0   133
spin bowler ON_THE_STUMPS         GOOD_LENGTH             290.0  243.0    75
pace bowler ON_THE_STUMPS         GOOD_LENGTH             246.0  219.0    78
            OUTSIDE_OFFSTUMP      FULL                    216.0  155.0    56
            ON_THE_STUMPS         FULL                    162.0  110.0    29
            OUTSIDE_OFFSTUMP      SHORT                   159.0   75.0    17
spin bowler OUTSIDE_OFFSTUMP      FULL                    148.0   98.0    29
            ON_THE_STUMPS         FULL                    136.0   94.0    27
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH  126.0   96.0    30
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  124.0   90.0    23
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   79.0   45.0     6
pace bowler ON_THE_STUMPS         SHORT                    39.0   17.0     2
            WIDE_OUTSIDE_OFFSTUMP FULL                     38.0   24.0     7
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   36.0   23.0     5
            ON_THE_STUMPS         FULL_TOSS                31.0   20.0     3
            DOWN_LEG              GOOD_LENGTH              28.0   18.0     4
                                  SHORT                    27.0    9.0     2
            OUTSIDE_OFFSTUMP      YORKER                   26.0   20.0     7
                                  FULL_TOSS                26.0   19.0     3
spin bowler DOWN_LEG              FULL                     22.0   13.0     4
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   16.0   13.0     6
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                     15.0    9.0     2
                                  GOOD_LENGTH              14.0    7.0     1
            ON_THE_STUMPS         FULL_TOSS                12.0    3.0     1
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                12.0    8.0     2
            ON_THE_STUMPS         YORKER                   12.0   21.0    10
            WIDE_OUTSIDE_OFFSTUMP SHORT                    11.0    5.0     2
            DOWN_LEG              FULL                      9.0    6.0     3
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH    9.0    6.0     1
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH               8.0    9.0     5
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH    7.0    5.0     0
            ON_THE_STUMPS         SHORT                     5.0    2.0     0
            DOWN_LEG              GOOD_LENGTH               5.0    6.0     1
                                  SHORT                     4.0    1.0     0
            OUTSIDE_OFFSTUMP      FULL_TOSS                 4.0    1.0     0
pace bowler DOWN_LEG              FULL_TOSS                 4.0    5.0     4
spin bowler OUTSIDE_OFFSTUMP      SHORT                     4.0    4.0     0
            ON_THE_STUMPS         YORKER                    0.0    1.0     1
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    0.0    2.0     2
spin bowler OUTSIDE_OFFSTUMP      YORKER                    0.0    1.0     1
            WIDE_DOWN_LEG         GOOD_LENGTH               0.0    0.0     0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                 0.0    0.0     0
                                  FULL                      0.0    0.0     0

                                                           1s  2s  3s  4s  5s  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  118  22   1  60   0
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             114  25   0  29   0
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             114  10   2  31   0
spin bowler ON_THE_STUMPS         GOOD_LENGTH             118  26   0  12   0
pace bowler ON_THE_STUMPS         GOOD_LENGTH              99  16   1  19   0
            OUTSIDE_OFFSTUMP      FULL                     60  10   0  19   0
            ON_THE_STUMPS         FULL                     50   8   0  21   0
            OUTSIDE_OFFSTUMP      SHORT                    26   5   1  18   0
spin bowler OUTSIDE_OFFSTUMP      FULL                     44   5   0  13   0
            ON_THE_STUMPS         FULL                     44   8   0   7   0
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   43   4   1  18   0
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   39  14   1  12   0
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   20   9   1   8   0
pace bowler ON_THE_STUMPS         SHORT                     9   0   0   3   0
            WIDE_OUTSIDE_OFFSTUMP FULL                      8   4   0   4   0
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   11   1   1   5   0
            ON_THE_STUMPS         FULL_TOSS                11   3   0   2   0
            DOWN_LEG              GOOD_LENGTH              10   0   0   3   0
                                  SHORT                     1   1   0   3   0
            OUTSIDE_OFFSTUMP      YORKER                    8   2   0   2   0
                                  FULL_TOSS                11   2   1   2   0
spin bowler DOWN_LEG              FULL                      6   0   0   1   0
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH    4   0   0   3   0
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                      3   2   0   2   0
                                  GOOD_LENGTH               4   0   0   1   0
            ON_THE_STUMPS         FULL_TOSS                 0   0   0   0   0
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                 4   0   0   2   0
            ON_THE_STUMPS         YORKER                   10   1   0   0   0
            WIDE_OUTSIDE_OFFSTUMP SHORT                     1   0   0   1   0
            DOWN_LEG              FULL                      1   0   0   2   0
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH    3   1   0   1   0
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH               2   1   0   1   0
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH    3   2   0   0   0
            ON_THE_STUMPS         SHORT                     1   0   0   1   0
            DOWN_LEG              GOOD_LENGTH               5   0   0   0   0
                                  SHORT                     0   0   0   1   0
            OUTSIDE_OFFSTUMP      FULL_TOSS                 0   0   0   1   0
pace bowler DOWN_LEG              FULL_TOSS                 0   0   0   1   0
spin bowler OUTSIDE_OFFSTUMP      SHORT                     4   0   0   0   0
            ON_THE_STUMPS         YORKER                    0   0   0   0   0
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    0   0   0   0   0
spin bowler OUTSIDE_OFFSTUMP      YORKER                    0   0   0   0   0
            WIDE_DOWN_LEG         GOOD_LENGTH               0   0   0   0   0
pace bowler WIDE_DOWN_LEG         FULL_TOSS                 0   0   0   0   0
                                  FULL                      0   0   0   0   0

                                                          6s  out    avg  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   5    9  48.33
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             13   10  35.80
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH              7    9  34.00
spin bowler ON_THE_STUMPS         GOOD_LENGTH             12    7  41.43
pace bowler ON_THE_STUMPS         GOOD_LENGTH              6    6  41.00
            OUTSIDE_OFFSTUMP      FULL                    10    8  27.00
            ON_THE_STUMPS         FULL                     2    8  20.25
            OUTSIDE_OFFSTUMP      SHORT                    8    3  53.00
spin bowler OUTSIDE_OFFSTUMP      FULL                     7    6  24.67
            ON_THE_STUMPS         FULL                     8    4  34.00
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   0    3  42.00
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH   1    0    inf
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH   1    0    inf
pace bowler ON_THE_STUMPS         SHORT                    3    0    inf
            WIDE_OUTSIDE_OFFSTUMP FULL                     1    2  19.00
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   0    1  36.00
            ON_THE_STUMPS         FULL_TOSS                1    2  15.50
            DOWN_LEG              GOOD_LENGTH              1    1  28.00
                                  SHORT                    2    1  27.00
            OUTSIDE_OFFSTUMP      YORKER                   1    0    inf
                                  FULL_TOSS                0    0    inf
spin bowler DOWN_LEG              FULL                     2    0    inf
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   0    0    inf
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                     0    1  15.00
                                  GOOD_LENGTH              1    0    inf
            ON_THE_STUMPS         FULL_TOSS                2    0    inf
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                0    1  12.00
            ON_THE_STUMPS         YORKER                   0    1  12.00
            WIDE_OUTSIDE_OFFSTUMP SHORT                    1    0    inf
            DOWN_LEG              FULL                     0    1   9.00
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH   0    0    inf
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH              0    1   8.00
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH   0    0    inf
            ON_THE_STUMPS         SHORT                    0    0    inf
            DOWN_LEG              GOOD_LENGTH              0    0    inf
                                  SHORT                    0    0    inf
            OUTSIDE_OFFSTUMP      FULL_TOSS                0    0    inf
pace bowler DOWN_LEG              FULL_TOSS                0    0    inf
spin bowler OUTSIDE_OFFSTUMP      SHORT                    0    0    inf
            ON_THE_STUMPS         YORKER                   0    0    NaN
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                   0    0    NaN
spin bowler OUTSIDE_OFFSTUMP      YORKER                   0    0    NaN
            WIDE_DOWN_LEG         GOOD_LENGTH              0    0    NaN
pace bowler WIDE_DOWN_LEG         FULL_TOSS                0    0    NaN
                                  FULL                     0    0    NaN

                                                              SR   Dots%  \
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  140.32   33.55
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             141.50   28.46
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH             103.03   44.78
spin bowler ON_THE_STUMPS         GOOD_LENGTH             119.34   30.86
pace bowler ON_THE_STUMPS         GOOD_LENGTH             112.33   35.62
            OUTSIDE_OFFSTUMP      FULL                    139.35   36.13
            ON_THE_STUMPS         FULL                    147.27   26.36
            OUTSIDE_OFFSTUMP      SHORT                   212.00   22.67
spin bowler OUTSIDE_OFFSTUMP      FULL                    151.02   29.59
            ON_THE_STUMPS         FULL                    144.68   28.72
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH  131.25   31.25
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH  137.78   25.56
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH  175.56   13.33
pace bowler ON_THE_STUMPS         SHORT                   229.41   11.76
            WIDE_OUTSIDE_OFFSTUMP FULL                    158.33   29.17
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH  156.52   21.74
            ON_THE_STUMPS         FULL_TOSS               155.00   15.00
            DOWN_LEG              GOOD_LENGTH             155.56   22.22
                                  SHORT                   300.00   22.22
            OUTSIDE_OFFSTUMP      YORKER                  130.00   35.00
                                  FULL_TOSS               136.84   15.79
spin bowler DOWN_LEG              FULL                    169.23   30.77
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH  123.08   46.15
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                    166.67   22.22
                                  GOOD_LENGTH             200.00   14.29
            ON_THE_STUMPS         FULL_TOSS               400.00   33.33
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS               150.00   25.00
            ON_THE_STUMPS         YORKER                   57.14   47.62
            WIDE_OUTSIDE_OFFSTUMP SHORT                   220.00   40.00
            DOWN_LEG              FULL                    150.00   50.00
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH  150.00   16.67
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH              88.89   55.56
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH  140.00    0.00
            ON_THE_STUMPS         SHORT                   250.00    0.00
            DOWN_LEG              GOOD_LENGTH              83.33   16.67
                                  SHORT                   400.00    0.00
            OUTSIDE_OFFSTUMP      FULL_TOSS               400.00    0.00
pace bowler DOWN_LEG              FULL_TOSS                80.00   80.00
spin bowler OUTSIDE_OFFSTUMP      SHORT                   100.00    0.00
            ON_THE_STUMPS         YORKER                    0.00  100.00
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    0.00  100.00
spin bowler OUTSIDE_OFFSTUMP      YORKER                    0.00  100.00
            WIDE_DOWN_LEG         GOOD_LENGTH                NaN     NaN
pace bowler WIDE_DOWN_LEG         FULL_TOSS                  NaN     NaN
                                  FULL                       NaN     NaN

                                                          Control%
bowl_kind   line                  length
pace bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH     80.00
spin bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH                87.75
pace bowler OUTSIDE_OFFSTUMP      GOOD_LENGTH                83.50
spin bowler ON_THE_STUMPS         GOOD_LENGTH                90.12
pace bowler ON_THE_STUMPS         GOOD_LENGTH                90.87
            OUTSIDE_OFFSTUMP      FULL                       79.35
            ON_THE_STUMPS         FULL                       84.55
            OUTSIDE_OFFSTUMP      SHORT                      76.00
spin bowler OUTSIDE_OFFSTUMP      FULL                       90.82
            ON_THE_STUMPS         FULL                       88.30
pace bowler ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH     87.50
spin bowler OUTSIDE_OFFSTUMP      SHORT_OF_A_GOOD_LENGTH     94.44
            ON_THE_STUMPS         SHORT_OF_A_GOOD_LENGTH     88.89
pace bowler ON_THE_STUMPS         SHORT                      88.24
            WIDE_OUTSIDE_OFFSTUMP FULL                       70.83
            DOWN_LEG              SHORT_OF_A_GOOD_LENGTH     86.96
            ON_THE_STUMPS         FULL_TOSS                  90.00
            DOWN_LEG              GOOD_LENGTH               100.00
                                  SHORT                      77.78
            OUTSIDE_OFFSTUMP      YORKER                     85.00
                                  FULL_TOSS                  89.47
spin bowler DOWN_LEG              FULL                       84.62
pace bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH     46.15
spin bowler WIDE_OUTSIDE_OFFSTUMP FULL                       88.89
                                  GOOD_LENGTH                85.71
            ON_THE_STUMPS         FULL_TOSS                 100.00
pace bowler WIDE_OUTSIDE_OFFSTUMP FULL_TOSS                  87.50
            ON_THE_STUMPS         YORKER                     80.95
            WIDE_OUTSIDE_OFFSTUMP SHORT                     120.00
            DOWN_LEG              FULL                       66.67
spin bowler WIDE_OUTSIDE_OFFSTUMP SHORT_OF_A_GOOD_LENGTH     66.67
pace bowler WIDE_OUTSIDE_OFFSTUMP GOOD_LENGTH                66.67
spin bowler DOWN_LEG              SHORT_OF_A_GOOD_LENGTH     80.00
            ON_THE_STUMPS         SHORT                     100.00
            DOWN_LEG              GOOD_LENGTH                83.33
                                  SHORT                     100.00
            OUTSIDE_OFFSTUMP      FULL_TOSS                 100.00
pace bowler DOWN_LEG              FULL_TOSS                  60.00
spin bowler OUTSIDE_OFFSTUMP      SHORT                     100.00
            ON_THE_STUMPS         YORKER                    100.00
pace bowler WIDE_OUTSIDE_OFFSTUMP YORKER                    100.00
spin bowler OUTSIDE_OFFSTUMP      YORKER                      0.00
            WIDE_DOWN_LEG         GOOD_LENGTH                  NaN
pace bowler WIDE_DOWN_LEG         FULL_TOSS                    inf
                                  FULL                         NaN

In [52]:
groundwise=dataset.groupby('ground').aggregate(calculate).sort_values(by='runs',ascending=False)

In [53]:
groundwise=filterview(groundwise)
groundwise

,runs,balls,dots,1s,2s,3s,4s,5s,6s,out,avg,SR,Dots%,Control%
ground,,,,,,,,,,,,,,
"Narendra Modi Stadium, Ahmedabad",953.0,598.0,149,265,58,6,83,0,37,15,63.53,159.36,24.92,86.45
"Eden Gardens, Kolkata",419.0,290.0,85,131,16,2,43,0,13,11,38.09,144.48,29.31,84.48
"Zayed Cricket Stadium, Abu Dhabi",282.0,254.0,102,98,20,0,30,0,4,10,28.20,111.02,40.16,88.98
Sharjah Cricket Stadium,280.0,233.0,77,114,11,2,18,0,11,7,40.00,120.17,33.05,81.97
Dubai International Cricket Stadium,224.0,176.0,65,66,12,0,32,0,1,6,37.33,127.27,36.93,82.95
"Brabourne Stadium, Mumbai",179.0,123.0,36,51,12,0,20,0,4,3,59.67,145.53,29.27,86.99
"Maharashtra Cricket Association Stadium, Pune",147.0,96.0,16,55,8,0,13,0,4,2,73.50,153.12,16.67,88.54
"Punjab Cricket Association IS Bindra Stadium, Mohali, Chandigarh",132.0,98.0,26,48,9,0,12,0,3,1,132.00,134.69,26.53,93.88
"MA Chidambaram Stadium, Chepauk, Chennai",128.0,101.0,45,32,6,0,12,0,6,6,21.33,126.73,44.55,89.11
"Sawai Mansingh Stadium, Jaipur",114.0,89.0,30,36,9,0,12,0,2,2,57.00,128.09,33.71,89.89
"M Chinnaswamy Stadium, Bengaluru",111.0,61.0,15,25,7,0,6,0,8,1,111.00,181.97,24.59,80.33
"Wankhede Stadium, Mumbai",74.0,98.0,52,34,5,0,6,0,1,9,8.22,75.51,53.06,78.57
"Feroz Shah Kotla, Delhi",41.0,34.0,10,17,3,0,3,0,1,2,20.50,120.59,29.41,73.53
"Dr DY Patil Sports Academy, Mumbai",36.0,34.0,17,10,1,0,6,0,0,4,9.00,105.88,50.00,73.53
"Maharaja Yadavindra Singh International Cricket Stadium, Mullanpur",35.0,29.0,12,9,3,0,5,0,0,1,35.00,120.69,41.38,86.21
"Arun Jaitley Stadium, Delhi",20.0,18.0,10,4,0,0,4,0,0,2,10.00,111.11,55.56,72.22
"Bharat Ratna Shri Atal Bihari Vajpayee Ekana Cricket Stadium, Lucknow",19.0,23.0,12,7,2,0,2,0,0,2,9.50,82.61,52.17,86.96
"Holkar Cricket Stadium, Indore",16.0,8.0,1,4,0,0,3,0,0,0,inf,200.00,12.50,87.50
"M Chinnaswamy Stadium, Bangalore",3.0,3.0,0,3,0,0,0,0,0,0,inf,100.00,0.00,100.00
"Rajiv Gandhi International Stadium, Uppal, Hyderabad",3.0,4.0,1,3,0,0,0,0,0,1,3.00,75.00,25.00,75.00

In [54]:
forteam=dataset.groupby('team_bat').aggregate(calculate)
forteam=filterview(forteam)

In [55]:
forteam

,runs,balls,dots,1s,2s,3s,4s,5s,6s,out,avg,SR,Dots%,Control%
team_bat,,,,,,,,,,,,,,
Gujarat Titans,1799.0,1218.0,352,521,107,6,173,0,59,40,44.98,147.7,28.9,86.21
Kolkata Knight Riders,1417.0,1152.0,409,491,75,4,137,0,36,45,31.49,123.0,35.5,84.72